{% extends 'base2.html' %}

{% block name %}

   {{ viewer.firstname }}
   {{ viewer.lastname }}

{% endblock %}

{% block email %}
   {{ viewer.email }}
{% endblock %}


{% block body_block %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2><bold>{{ institutename }}</bold></h2><br>


<style>
.table-scrollable{
    overflow: auto;
}
</style>


<div class="table-scrollable">
 
<!-- THE HEAD OF THE INSTITUTE DISPLAY PORTION ------------------------------------------------------------------->

	<div class="panel panel-default">
	      <div class="panel-heading">

			<h4 class="panel-title">
			  <a data-toggle="collapse" data-parent="#accordion" href="#ILU">Institute Representatives</a>
			</h4>
	      </div>
		
	      <div id="ILU" class="panel-collapse collapse ">
        		<div class="panel-body">

		<table width='100%' border="1" class="table table-hover">
			<col style='width='10%;'>
			<col style='width='20%;'>
			<col style='width='20%;'>
				<thead>
					<th><font size='2'>First Name</font><br></th>
					<th><font size='2'>Last Name</font><br></th>
					<th><font size='2'>Email Address</font><br></th>
					<th><font size='2'>Role</font><br></th>
				</thead>

				<tr>
			  		<td><font align="left">{{ hoi_ilu.personid.firstname }}		</font><br></td>
					<td><font align="left">{{ hoi_ilu.personid.lastname }}		</font><br></td>
					<td><font align="left">{{ hoi_ilu.personid.email }}			</font><br></td>
					<td><font align="left">Head of Institute				</font><br></td>
				</tr>

<!------------------------------------------------------------------------------------------------------------------>

<!-- THE PROGRAM COORDINATOR DISPLAY PORTION ----------------------------------------------------------------------->


	
    {% if pc = '0' %}
	</table>
    	<br><br>{{ pc_msg }}<br><br>
    		{% if role_id <= 2 %}
		<br>
    		<button class="btn btn-primary" onclick="location.href='{% url 'pc' %}'">Add</button><br>
    		{% endif %}

    {% elif pc = '1' %}
    			<tr>
    		  		<td><font align="left">{{ pc_ilu.personid.firstname }}</font><br></td>
    				<td><font align="left">{{ pc_ilu.personid.lastname }}</font><br></td>
    				<td><font align="left">{{ pc_ilu.personid.email }}</font><br></td>
				<td><font align="left">Program Coordinator</font><br></td>
    			</tr>
    	</table><br>
	
		{% if role_id <= 2 %}
	    	<br><button class="btn btn-warning" onclick="location.href='{% url 'pc' %}'">Change Program Coordinator</button><br><br>
	    	{% endif %}
 
     {% elif pc = '2' %}
    	
    			<tr>
    		  		<td><font align="left">{{ pc_ilu.firstname }}</font><br></td>
    				<td><font align="left">{{ pc_ilu.lastname }}</font><br></td>
    				<td><font align="left">{{ pc_ilu.email }}</font><br></td>
    			</tr>
    	</table>
	<br><br>{{ pc_msg }}<br>
			{% if role_id <= 2 %}
				<br/>
    				<td><button class="btn btn-warning" onclick="location.href='{% url 'cancel' pc_ilu.id %}'">Cancel</button></td><br><br>
   			{% endif %}

     {% endif %}

				</div>
		</div>
	
	</div>


<!---------------------------------------------------------------------------------------------------------------->

<!---------------------------- The Pending Consents Portion ------------------------------------------------------>


{% if consent %}

	
	<div class="panel panel-default">
	      <div class="panel-heading">

			<h4 class="panel-title">
			  <a data-toggle="collapse" data-parent="#accordion" href="#CONSENT">Consents Pending</a>
			</h4>
	      </div>
	
	      <div id="CONSENT" class="panel-collapse collapse ">
        		<div class="panel-body">

	<p>You have pending requests for the following posts</p><br>

        <table border="1" width='100%' class="table table-hover">
                <tr>
        			<th><font size='2'>Role</font><br></td>
        			<th><font size='2'>Courses</font><br></th>
        			<th><font size='2'>Invited By</font><br></th>
        			<th><font size='2'>Give Consent</font><br></th>
        			<th><font size='2'>Disapprove</font><br></th>
        	</tr>
        
        
		{% for members in consent %}
			<tr>
				<td align='left'>{% if members.roleid = 4 %}
								Course Coordinator
						     {% elif members.roleid = 5 %}
								 Teacher
						     {% else %}
								 Program Coordinator
						     {% endif %}
				</td>
				<td align='left'>{{ members.courseid.coursename }}</td>
				<td align='left'>{{ members.createdby.firstname }} {{ members.createdby.lastname }}</td>
				<td align='left'><button class="btn btn-success" onclick="location.href='{% url 'consent' members.id %}'">Consent</button></td>

				<td align='left'><button class="btn btn-warning" onclick="location.href='{% url 'dissent' members.id %}'">Diaspprove</button></td>

			</tr>				
		{% endfor %}
        		
                
          </table>
      			</div>
		</div>
	</div>

<br>

<!------------------------------------------>
{% endif %}




<!-- THE PENDING REQUESTS / ACTION POINTS left -->

	
	<div class="panel panel-default">
	      <div class="panel-heading">

			<h4 class="panel-title">
			  <a data-toggle="collapse" data-parent="#accordion" href="#REQUEST">Pending Requests</a>
			</h4>
	      </div>
	
	      <div id="REQUEST" class="panel-collapse collapse ">
        		<div class="panel-body">


	
        {% if pend_req %}
        <table border="1" width='100%' class="table table-hover">
                <tr>
        			<th><font size='2'>Role</font><br></td>
        	  		<th><font size='2'>First Name</font><br></th>
        			<th><font size='2'>Last Name</font><br></th>
        			<th><font size='2'>Email Address</font><br></th>
        			<th><font size='2'>Courses</font><br></th>
        			<th><font size='2'>Created By</font><br></th>
        			<th><font size='2'>Status</font><br></th>
        			<th><font size='2'>Approve</font><br></th>
        			<th><font size='2'>Reject</font><br></th>
        	</tr>
        
        
		{% for members in pend_req %}
			<tr>
				<td align='left'><font size='2'>{% if members.roleid = 4 %}
									Course Coordinator
								     {% elif members.roleid = 5 %}
									 Teacher
								     {% else %}
									 Program Coordinator
								     {% endif %}
				</font></td>
				<td align='left'><font size='2'>{{ members.firstname }}</font></td>
				<td align='left'><font size='2'>{{ members.lastname }}</font></td>
				<td align='left'><font size='2'>{{ members.email }}</font></td>
				<td align='left'><font size='2'>{{ members.courseid.coursename }}</font></td>
				<td align='left'><font size='2'>{{ members.createdby }}</font></td>
				<td align='left'><font size='2'>{{ members.status }}</font></td>
		
					{% if role_id <= 3  %}
					<td align='left'><font size='2'><button class="btn btn-success" onclick="location.href='{% url 'approve' members.id %}'">Approve</button></font></td>
					<td align='left'><font size='2'><button class="btn btn-warning" onclick="location.href='{% url 'reject' members.id %}'">Reject</button></font></td>
					{% endif %}
			</tr>				
		{% endfor %}
        		
                
          </table>
        
        {% else %}
        	You have no pending requests
        {% endif %}
	
				</div>
		</div>
	</div>



<!-- THE ACTIVE TEAM MEMBERS DETAILS -->

	
	<div class="panel panel-default">
	      <div class="panel-heading">

			<h4 class="panel-title">
			  <a data-toggle="collapse" data-parent="#accordion" href="#ACTIVE">Course Representatives</a>
			</h4>
	      </div>
	
	      <div id="ACTIVE" class="panel-collapse collapse ">
        		<div class="panel-body">



{% if role_id <= 4 %}
<br><button class="btn btn-primary" onclick="location.href='{% url 'invite' %}'">Add</button><br>
{% endif %}

<br>
	<div class="table-scrollable">
<table border="1" width='100%' class="table table-hover">
	<thead>
		<tr>
			<th><font size='2'>Role</font><br></td>
	  		<th><font size='2'>First Name</font><br></th>
			<th><font size='2'>Last Name</font><br></th>
			<th><font size='2'>Email Address</font><br></th>
			<th><font size='2'>Courses</font><br></th>
			<th><font size='2'>Start Date</font><br></th>
			{% if role_id <= 3 %}<th><font size='2'>Cancel</font><br></th>{% endif %}
		</tr>
	</thead>

{% for members in team %}
 	<tbody>
		<tr>
			<td align='left'><font size='2'> {% if members.roleid = 4 %}
								Course Coordinator
							     {% else %}
								 Teacher
							     {% endif %}

						
			</font></td>
			<td align='left'><font size='2'>{{ members.personid.firstname }}</font></td>
			<td align='left'><font size='2'>{{ members.personid.lastname }}</font></td>
			<td align='left'><font size='2'>{{ members.personid.email }}</font></td>
			<td align='left'><font size='2'>{{ members.courseid.coursename }}</font></td>
			<td align='left'><font size='2'>{{ members.startdate|date:"d-m-Y" }}</font></td>
			{% if role_id <= 3 %}
			<td align='left'><button class="btn btn-warning" onclick="location.href='{% url 'remove' members.id %}'">Cancel</button></td>
			{% endif %}

{% endfor %}
		
        	</tr>
	</tbody>
  </table>
		</div>
	</div>
		</div>
</div>



<!-- THE INACTIVE / HISTORY TEAM MEMBERS DETAILS -->


{% if clu_past %}
	
	<div class="panel panel-default">
	      <div class="panel-heading">

			<h4 class="panel-title">
			  <a data-toggle="collapse" data-parent="#accordion" href="#PAST">Past Team Members</a>
			</h4>
	      </div>
	
	      <div id="PAST" class="panel-collapse collapse ">
        		<div class="panel-body">



<table border="1" width='100%' class="table table-hover">
	<thead>
		<tr>
			<th><font size='2'>Role</font><br></td>
	  		<th><font size='2'>First Name</font><br></th>
			<th><font size='2'>Last Name</font><br></th>
			<th><font size='2'>Email Address</font><br></th>
			<th><font size='2'>Courses</font><br></th>
			<th><font size='2'>Start Date</font><br></th>
			<th><font size='2'>End Date</font><br></th>
		</tr>
	</thead>

{% for members in clu_past %}
 	<tbody>
		<tr>
			<td align='left'><font size='2'> {% if members.roleid = 4 %}
								Course Coordinator
							     {% else %}
								 Teacher
							     {% endif %}

						
			</font></td>
			<td align='left'><font size='2'>{{ members.personid.firstname }}</font></td>
			<td align='left'><font size='2'>{{ members.personid.lastname }}</font></td>
			<td align='left'><font size='2'>{{ members.personid.email }}</font></td>
			<td align='left'><font size='2'>{{ members.courseid.coursename }}</font></td>
			<td align='left'><font size='2'>{{ members.startdate|date:"d-m-Y" }}</font></td>
			<td align='left'><font size='2'>{{ members.enddate|date:"d-m-Y" }}</font></td>
			
{% endfor %}
		
        	</tr>
	</tbody>
  </table>

		</div>
	</div>
</div>

{% endif %}
	


<!-- THE PENDING TEAM MEMBERS SECTION -->

	<div id="TEAM" class="panel panel-default">
	      <div class="panel-heading">

			<h4 class="panel-title">
			  <a data-toggle="collapse" data-parent="#accordion" href="#PEND">Team Members</a>
			</h4>
	      </div>
	
	      <div id="PEND" class="panel-collapse collapse ">
        		<div class="panel-body">

{% if requser %}



<div class="table-scrollable">
<table border="1" width='100%' class="table table-hover">
        <thead>
			<th><font size='2'>Role</font><br></td>
	  		<th><font size='2'>First Name</font><br></th>
			<th><font size='2'>Last Name</font><br></th>
			<th><font size='2'>Email Address</font><br></th>
			<th><font size='2'>Courses</font><br></th>
			<th><font size='2'>Invited By</font><br></th>
			<th><font size='2'>Status</font><br></th>
	</thead>


{% for members in requser %}
	<tr>
		<td  align='left'><font size='2'> {% if members.roleid = 4 %}
							Course Coordinator
						     {% elif members.roleid = 5 %}
							 Teacher
						     {% else %}
							 Program Coordinator
						     {% endif %} 

		</font></td>
		<td align='left'><font size='2'>{{ members.firstname }}</font></td>
		<td align='left'><font size='2'>{{ members.lastname }}</font></td>
		<td align='left'><font size='2'>{{ members.email }}</font></td>
	
		<td align='left'><font size='2'>{{ members.courseid.coursename }}</font></td>
                {% if members.createdby.email %}
		<td align='left'><font size='2'>{{ members.createdby.email }}</font></td>
                {% else %}
		<td align='left'><font size='2'>{{ members.email }}</font></td>
		{% endif %}
		<td align='left'><font size='2'>{{ members.status }}</font></td>
		{% if members.status == 'Invited' or members.status == 'Pending Consent' %}
			<td align='left'><button class="btn btn-warning" onclick="location.href='{% url 'cancel' members.id %}'">Cancel</button></td>
		{% endif %}

{% endfor %}
     </tr>
  </table>
</div>
{% else %}
	<p>You have no pending Requests</p>
{% endif %}
	
		</div>
	</div>
</div>

	</div>
	

{% endblock %}
