{% extends 'base2.html' %}

{% block heading %}

<h2> ADD TEAM MEMBERS </h2>
{% endblock %}


{% block name %}{{hoi.firstname}} {{hoi.lastname}}
{% endblock %}

{% block email %}{{hoi.email}}
{% endblock %}



{% block body_block %}


{% if error_message %}<p><strong>{{ error_message.0 }}<br><br></strong></p>{% endif %}

<h3>TEAM MEMBER INVITATION</h3>


    <form  id="myForm" method="post" action="" >
	{% csrf_token %}

    

      <p class="instructions">
        Please fill the following details for choosing a new Team Member of your Institute {{ institutename }}. <br />
        Required fields are noted by <strong>bold text and an asterisk (*)</strong>.
      </p>


      <div class="group group-form group-form-requiredinformation">
        

        <ol class="list-input">

	
          <li class="field required text" id="field-email">
            <label for="email">Email</label>
            <input class="" id="email" type="text" name="email" value="{{ email }}" />
          </li>
		
	<br><br>

	
	
		
	<li class="field required text" id="field-username">
            <label for="firstname" >First Name</label>
            <input type="text" name="firstname" value="{{ firstname }}"  />
        </li>
	
	<br><br>

	<li class="field required text" id="field-username">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" value="{{ lastname }}" />
         </li>


	

{% if ilu %}
<br><br>
<font>NAME : {{ ilu.0.personid.firstname }} {{ ilu.0.personid.lastname }}	</font><br>
	<font>EMAIL : {{ ilu.0.personid.email }}					</font><br><br>

	{% for each in ilu %}
	<font>ROLE : {% if each.roleid = 2 %}HEAD OF THE INSTITUTE
		  	{% else %}PROGRAM COORDINATOR
		  	{% endif %}						</font><br>
	<font>STARTDATE : {{ each.startdate }}	 				</font><br>
	<font>ENDDATE : {{ each.enddate }}	 				</font><br><br><br>
	{% endfor %}			

	<p class="instructions">The person you are inviting is already registered in your Institute. Click Submit to give him / her an additional role. </p><br>
	
		<input type="hidden" name="secret" value="1">
{% endif %}



<br>

{% if clu %}
	
	{% if not ilu %}
	
	<font>NAME : {{ clu.0.personid.firstname }} {{ clu.0.personid.lastname }}	</font><br>
	<font>EMAIL : {{ clu.0.personid.email }}					</font><br>
	
	
	<p class="instructions">The person you are inviting is already registered in your Institute. Click Submit to give him / her an additional role.</p><br>
	
	{% endif %}
	
	<table border="1" width='100%'>
		<thead>
    			<tr>
    		  		<th><font>BM COURSE NAME</font><br></th>
    				<th><font>ROLE</font><br></th>
				<th><font>START DATE</font><br></th>
				<th><font>END DATE</font><br></th>
    			</tr>
    		</thead>
    		{% for post in clu %}
    		<tbody>
    			<tr>
    		  		<td>{{ post.courseid.coursename }}<br></td>
    				<td>{% if post.roleid = 4 %}COURSE COORDINATOR
						   {% else %}Teacher
						   {% endif %}
				<br></td>
				<td>{{ post.startdate }}<br></td>
				<td>{{ post.enddate }}<br></td>
    			</tr>
    		</tbody>
		{% endfor %}
    	</table><br>
	
		
		
		<input type="hidden" name="secret" value="1">
{% endif %}

<br>
	<li class="field required text" id="field-name">
       		<label for="name">Choose the Role for your new Team Member</label>
		<select name="role" >
			{% if role_id <= 3 %}
			<option value="4">Course Coordinator</option>
			{% endif %}
			<option value="5">Teacher</option>
		</select>
        </li>

	I'm here
	
	<li class="field required text" id="field-name">
            <label for="name">COURSE</label>
		<select name="edxcourse">
				{% for values in courses %}
					<option value="{{ values.courseid }}" >{{ values.coursename }}</option>
				{% endfor %}
		</select>
        </li>
<br><br>


		<input type="button" value="Reset" onclick="document.getElementById('myForm').reset()"/>
  
		<input type="submit" name='submit' value="Submit" >
		

        </ol>

      </div>

      
    </form>
 

 
{% endblock %}

