{% extends 'login/indexbase.html' %}
{% load staticfiles  %}
 {% block title %}
     Create Account Password
{% endblock %}

{% block header %}
     <img src="{% static 'images/iitbxheader.png' %}"/>
          <h1 class="title">
      <span class="title-super">Create Account Password</span>
      <span class="title-sub"></span>
    </h1>
   {% endblock %}
 {% block form %}
<form role="form" id="login-form" method="post" action="" > {% csrf_token %}
     <p>
          {{ message }}
     </p>
   
     <fieldset class="group group-form group-form-requiredinformation">
     <legend class="sr">Required Information</legend>
          <ol class="list-input">
               <li class="field required password" id="field-new_password1">
                    <label for="new_password1">Password</label>
                    <input id="new_password1" name="new_password1" placeholder="*****" type="password">
               </li>
               <li class="field required password" id="field-new_password2">
                    <label for="new_password2">Confirm  Password </label>
                    <input id="new_password2" name="new_password2" placeholder="*****" type="password">
               </li>
          </ol>
     </fieldset>
     <div class="form-actions">
          <button name="submit" type="submit" id="submit" >Create  Password</button>
     </div>
</form>
{% endblock %}
