{% extends 'login/indexbase.html' %}
{% load staticfiles %}
{% block title %} Login {% endblock %}
 {% block header %}

<img src="{% static 'images/iitbxheader.png' %}"/>
     <h1 class="title">
          <span class="title-super">Please log in</span>
          <span class="title-sub">to access your account </span>
     </h1>
{% endblock %}
{% block form %}
<form role="form" id="login-form" method="post" action="" > {% csrf_token %}
     <p>
          {{ error_message }}
     </p>
     <div class="group group-form group-form-requiredinformation">
          <h2 class="sr">Required Information</h2>
               <ol class="list-input">
                    <li class="field required text" id="field-email">
                         <label for="email">Email</label>
                         <input class="" id="email" name="email" value="" placeholder="example: username@domain.com" required="" aria-required="true" aria-described-by="email-tip" type="email" >
                    </li>
                    <li class="field required password" id="field-password">
                         <label for="password">Password</label>
                         <input id="password" name="password" value="" required="" aria-required="true" type="password" onKeyPress="return submitenter(this,event)">
                         <span class="tip tip-input">
                         <a href="/forgot_password/" rel="leanModal"  id="forgot-password-link" role="button" aria-haspopup="true">Forgot password?</a>
                         </span>
                    </li>
               </ol>
     </div>
   
     <div class="form-actions">
          <button name="submit" type="submit" id="submit" class="action action-primary action-update login-button">Log in</button>
     </div>
</form>
{% endblock %}

{% block aside %}
<aside role="complementary">
<div class="cta cta-help">

<h3>New User?</h3>
<p><a href="/createpasswordemail/" >Password Creation Email</a></p>
<br>          

<h3><a href={% static 'BM_User_Manual.pdf' %} target=_blank>User Manual</a></h3>
<br>
<h3>Help</h3>
<p><b>Admin</b><br> 
eoutreach@it.iitb.ac.in<br>
022-2576 4989</p>

<p><b>Software</b> 
bmwsoftwareteam@cse.iitb.ac.in <br>
022-2576 4987
</p>

<p>Source code available <a href="https://github.com/openiitbombayx/blendedmoocs-mis" target=_blank>here</a></p>


</div>
</aside>
{% endblock %}

