{% load staticfiles %}

<html lang="en"><!--<![endif]--><head dir="ltr">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="{% static 'css/dash.css' %}">
  	<script src="{% static 'js/dash1.js' %}"></script>
  	<script src="{% static 'js/dash2.js' %}"></script>

      <title>
       Dashboard | IITBombayX
      </title>
	
	{% block script %}
	{% endblock %}


  <script type="text/javascript" src="{% static 'js/a' %}"></script>

  <link rel="icon" type="image/x-icon" href="https://iitbombayx.in/static/themes/iitbombayx-theme/images/favicon.22b053d5ddae.ico">

      <link href="{% static 'css/lms-style-vendor.css' %}" rel="stylesheet" type="text/css">
  

    <link href="{% static 'css/lms-style-app.css' %}" rel="stylesheet" type="text/css">
  

    <link href="{% static 'css/lms-style-app-extend1.css' %}" rel="stylesheet" type="text/css">
  

    <link href="{% static 'css/lms-style-app-extend2.css' %}" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="{% static 'js/lms-main_vendor.js' %}" charset="utf-8"></script>

  <script type="text/javascript" src="{% static 'js/require-config-lms.js' %}"></script>

</head>

<body class="ltr view-dashboard is-authenticated lang_en">
  <div class="window-wrap" dir="ltr">
    <a class="nav-skip" href="#my-courses">Skip to this view's content</a>

<style>

</style>

 <header class="global " aria-label="Global Navigation">
    <nav>
    <h1 class="logo">
      <a href="https://iitbombayx.in/">
        
  <img src="{% static 'images/swayamlogo_header.png' %}" alt="Home Page" height="50">

      </a>
    </h1>
{% block header_block %}
<ol class="left nav-global authenticated">
<li class="nav-global-01">
<a href = "{% url 'ccourses' %}">Course Enrollment</a>
</li>


<li class="nav-global-01">
<a href = "/dash/">Team Management</a>
</li>

<li class="nav-global-01">
<a href = "{% url 'allcourses' %}">Find course</a>
</li>

</ol>
<ol class="right nav-courseware">


    <li class="nav-courseware-01">
   
	<button onclick="location.href='/logout'" >Log out</button>
          </li>
      
    </ol>
{% endblock %}

  </nav>
</header>

    <div class="content-wrapper" id="content">



  <section class="my-courses" id="my-courses">

{% block header %}
<header>
<h2><!-- put some sommon data--></h2>
</header>
{% endblock %}
  <div>
  <ul class="listing-courses" >
  {% block body_block %}{% endblock %}
</ul>
 </div>
</section> 

</li>
      </ul>

  </section>
</section>
    
    </div>
<style>
.wrapper-footer{
padding-top:16px;

}

.wrapper-footer footer .references{
margin-top:0px;
}

.wrapper-footer footer .colophon .nav-colophon li a {
        border-bottom:none !important;
	color:#3D3E3F;
}


.wrapper-footer footer{
width:960px;
margin:auto;
}

</style>


<div class="wrapper wrapper-footer" style="width:auto;">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon" style="margin-bottom:20px;">
      <ol>
          <li class="nav-colophon-01">
          <a id="about" href="https://iitbombayx.in/about">
              About
          </a>
          </li>
	  <!-- Bharat MOOCs -->
          <li class="nav-colophon-02" style="color:#565656;">
          <a id="news" href="http://news.iitbombayx.in/" target="_blank">
              News
          </a>
          </li>
          <li class="nav-colophon-03" style="color:#565656;">
          <a id="blog" href="http://blogs.iitbombayx.in/" target="_blank">
              Blog
          </a>
          </li>
          <li class="nav-colophon-04" style="color:#565656;">
          <a id="faq" href="https://iitbombayx.in/faq">
              FAQ
          </a>
          </li>
          <li class="nav-colophon-05" style="color:#565656;">
          <a id="contact" href="https://iitbombayx.in/contact">
              Contact Us
          </a>
          </li>
      </ol>
      </nav>

      <div class="colophon-about">
<!-- Bharat MOOCs-->
        

        <p style="text-align:justify; color:#565656;">IITBombayX offers 
interactive online classes and MOOCs. Subjects from multiple disciplines
 are presently offered, as can be seen in the list of courses. This list
 will expand later. IITBombayX is a non-profit online platform created 
with funding from National Mission on Education through Information and 
Communication Technology (NME-ICT), Ministry of Human Resource 
Development (MHRD), Government of India (GoI).</p> 
      </div>
    </div>

    <div class="references">
      <nav class="nav-social">
        <ul>
          <li class="nav-social-02">
            <a href="https://www.facebook.com/iitbombayx" target="_blank" rel="external">
              <img src="{% static 'images/ico-social-facebook.png' %}" alt="edX on Facebook">
            </a>
          </li>
          <li class="nav-social-03">
            <a href="https://twitter.com/iitbombayx" target="_blank" rel="external">
              <img src="{% static 'images/ico-social-twitter.png' %}" alt="edX on Twitter">
            </a>
          </li>
          <li class="nav-social-04">
            <a href="https://plus.google.com/u/0/113536343441190768869" target="_blank" rel="external">
              <img src="{% static 'images/ico-social-google.png' %}" alt="edX on Google+">
            </a>
          </li>
          <!--li class="nav-social-05">
            <a href="#"  target="_blank" rel="external">
              <img src="/static/images/social/ico-social-youtube.909f05910c79.png" alt="edX on YouTube" />
            </a>
          </li-->
        </ul>
      </nav>

      <!--p class="copyright" style="text-align:right; color:#050505; margin-bottom:11px;">&copy; 2014 IITBombayX, except where noted, all rights reserved</p-->

      <nav class="nav-legal">
        <ul style="display:block;float:right;text-align:right;">
          <li class="nav-legal-01" style="display:block;">
		<style>.wrapper-footer footer .references .nav-legal .nav-legal-01 a:after {content:none;}</style>
            <a style="display: inline-block;" href="https://iitbombayx.in/tos" target="_blank">Terms of Service and Honour Code</a>
          </li>
          <li class="nav-legal-02" style="display:block;">
            <a style="display: inline-block;" target="_blank" href="https://iitbombayx.in/privacy">Privacy Policy</a>
          </li>
          <li class="nav-legal-03" style="display:block; float:right;">	
		 <style>.wrapper-footer footer .references .nav-legal .nav-legal-03 a:hover{border-bottom:0px;}</style> 
            <a style="display: inline-block; " href="http://openedx.org/" target="_blank"><img src="{% static 'images/edx-openedx-logo-tag.png' %}" style="padding-top:2.5em; float:right; width:150px; height:50px;" alt="Powered by Open edX"></a>

          </li>
        </ul>
      </nav>
    </div>
  </footer>
</div>


  </div>

  <script>window.baseUrl = "/static/";</script>
    
    <script type="text/javascript" src="{% static 'js/lms-application.js' %}" charset="utf-8"></script>
   
    <script type="text/javascript" src="{% static 'js/lms-modules.js' %}" charset="utf-8"></script>
  
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}" charset="utf-8"></script>

<div id="lean_overlay"></div><div id="reader-feedback" class="sr" style="display:none" aria-hidden="false" aria-atomic="true" aria-live="assertive"></div></body></html>
