{% load staticfiles %}

<html lang="en"><!--<![endif]--><head dir="ltr">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="{% static 'css/dash.css' %}">
  	<script src="{% static 'js/dash1.js' %}"></script>
  	<script src="{% static 'js/dash2.js' %}"></script>

      <title>
       Dashboard | IITBombayX
      </title>
	
	{% block script %}
	{% endblock %}


  <script type="text/javascript" src="{% static 'js/a' %}"></script>

  <link rel="icon" type="image/x-icon" href="https://iitbombayx.in/static/themes/iitbombayx-theme/images/favicon.22b053d5ddae.ico">

      <link href="{% static 'css/lms-style-vendor.css' %}" rel="stylesheet" type="text/css">
  

    <link href="{% static 'css/lms-style-app.css' %}" rel="stylesheet" type="text/css">
  

    <link href="{% static 'css/lms-style-app-extend1.css' %}" rel="stylesheet" type="text/css">
  

    <link href="{% static 'css/lms-style-app-extend2.css' %}" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="{% static 'js/lms-main_vendor.js' %}" charset="utf-8"></script>

  <script type="text/javascript" src="{% static 'js/require-config-lms.js' %}"></script>

</head>

<body class="ltr view-dashboard is-authenticated lang_en">
  <div class="window-wrap" dir="ltr">
    <a class="nav-skip" href="#my-courses">Skip to this view's content</a>

<style>

</style>

 <header class="global " aria-label="Global Navigation">
    <nav><!--<b>Blended Moocs</b></br>-->
    <h1 class="logo">
      <a href="{{rooturl}}">
        
  <img src="{% static 'images/swayamlogo_header.png' %}" alt="Home Page" height="50">

      </a>

    </h1>

{% block header_block %}
<ol class="left nav-global authenticated">

<li class="nav-global-04">Information System for Blended MOOCS </li>


</ol>
<ol class="right nav-courseware">


    
      
    </ol>
    <ol class="user">

      <li class="primary">
        <a href="{{rooturl}}" class="user-link">
          
      
          {%  block name  %}{{ firstname }} {{ lastname }}{% endblock %}</br>
           
          
        
      
        <a href="#" class="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr">More options dropdown</span> ▾</a>
        <ul class="dropdown-menu" aria-label="More Options" role="menu">
          	<li>
	<a href="/get_multi_roles/">Change Role</a>
	</li>

            <li><a href="/changepassword/">Change Password</a></li> 
          
          <li><a href="/logout" role="menuitem">Log Out</a></li>
        </ul>
      </li>
    </ol>
{% endblock %}

  </nav>
</header>

    <div class="content-wrapper" id="content">


<section class="container dashboard" id="dashboard-main">

  <section class="profile-sidebar">


<header class="profile">
     <h1 class="user-name"><span ><a href="/ccourses/" >{{rolename}}</a></span></h1>
    </header>
    <section class="user-info">
    
<ul>
       <li class="info--email">
          <span class="title">Remote Centre Id
          </span> <span class="data" >{{rcid}}</span>
        </li>
        <li class="info--email">
          <span class="title">Institute's Name
           
          </span> <span class="data"   >{{ institutename }}</span>
        </li>
        
        <li class="info--email">
          <span class="title">Email
          </span> <span class="data" >{% block email %}{{email}}{% endblock %}</span>
        </li>
        <li>
          <span ><a href={% static 'BM_User_Manaual.pdf' %} target=_blank>User Manual</a></span>    
        </li>
        <li>
          <span ><a href={% static 'FAQs.pdf' %} target=_blank>FAQs</a></span>    
        </li>
        <li>
          <span ><a href="https://iitbombayx.in" target=_blank>IITBombayX</a></span>
        </li>

	
	

</li>

</ul>
    </section>


  </section>

  <section class="my-courses" id="my-courses" style="margin-top: -40px;">

{% block header %}
<header>
<h2><!-- put some sommon data--></h2>
</header>
{% endblock %}
  <div>
  <ul class="listing-courses">
  {% block body_block %}{% endblock %}
</ul>
 </div>
</section> 

</li>
      </ul>

  </section>
</section>
    
    </div>
<style>
.wrapper-footer{
padding-top:16px;

}

.wrapper-footer footer .references{
margin-top:0px;
}

.wrapper-footer footer .colophon .nav-colophon li a {
        border-bottom:none !important;
	color:#3D3E3F;
}


.wrapper-footer footer{
width:960px;
margin:auto;
}

</style>


<div class="wrapper wrapper-footer" style="width:auto;">
 <footer style="width:90%;">
    <div class="colophon" style="width:43%">
      <nav class="nav-colophon" style="margin-bottom:20px;">
   <ol>
          <li class="nav-colophon-01">         
 <a href="https://www.iitbombayx.in/" target=" _blank">
<img border="0"  src="{% static 'images/swayamfooter_trans.png' %}"  alt="IITBombayX Logo">
</a>
          </li>
<li class="nav-colophon-01">
<a href="http://www.it.iitb.ac.in/moodle/" target="_blank"><img border="0"  src="{% static 'images/moodle_trans.png' %}" alt="DBP's Moodle">
</a>
</li>
<li class="nav-colophon-01">
<a href="http://www.it.iitb.ac.in/nmeict/home.html"  target="_blank"><img border="0"  src="{% static 'images/nmeict_trans.png' %}"    alt="T10KT-IITB NMEICT"></a>
</li> 
<li class="nav-colophon-01">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>

</nav>
</div>
<div class="references" style="width:50%;font-size:80%;"><p align=justify>The Information System for Blended MOOCs combines the benefits of MOOCs on IITBombayX with the conventional teaching-learning process at the various partnering institutes. This system envisages the factoring of MOOCs marks in the grade computed for a student of that subject, in a regular degree program.
</p></div>
  </footer>
          </div>



  </div>

  <script>window.baseUrl = "/static/";</script>
    
    <script type="text/javascript" src="{% static 'js/lms-application.js' %}" charset="utf-8"></script>
   
    <script type="text/javascript" src="{% static 'js/lms-modules.js' %}" charset="utf-8"></script>
  
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}" charset="utf-8"></script>

<div id="lean_overlay"></div><div id="reader-feedback" class="sr" style="display:none" aria-hidden="false" aria-atomic="true" aria-live="assertive"></div></body></html>
