{% extends 'base2.html' %}
{% load staticfiles %}
{% block header %}
<header>
<h2>Blended MOOC Coordinator Home</h2>
</header>
{% endblock %}
{% block body_block %}
	{% if flag %}
		<form role="form" method="post" action="/bmchome/" autocomplete="off">{% csrf_token %}
		<p class="instructions">
		<h3>Please select the institute</h3><br><br>
		</p>
			{% if errors %}
				<p style="color:red;"><h3 style="color:red;">{{ errors.0 }}</h3></p><br>
			{% endif %}
		<div class="group group-form group-form-requiredinformation">
		<select name="institute_name" value="{{ institute_name }}" required aria-required="true">
		<option value="select" selected="selected">-- select institute --</option>
			{% for i in inst_name_list %}
				<option value="{{ i }}">{{ i }}</option>
			{% endfor %}
		</select>
		<br><br><br>
		<input type='submit' name='submit' value='Submit'>
		
		</div>
		</form>
	{% endif %}
	{% if not flag %}
		<form role="form" method="post" action="/bmcintermediate/{{institute_id}}/" autocomplete="off">{% csrf_token %}
		<p class="instructions">
		<h3>Please select the role</h3><br><br>
		</p>
			{% if errors %}
				<p style="color:red;"><h3 style="color:red;">{{ errors.0 }}</h3></p><br>
			{% endif %}
		<div class="group group-form group-form-requiredinformation">
		<select name="role" value="{{ role }}" required aria-required="true">
			{% for i in rolenames %}
				<option value="{{ i }}">{{ i }}</option>
			{% endfor %}
		</select>
		<br><br><br>
		<input type='submit' name='submit' value='Submit'>
		
		</div>
		</form>
	{% endif %}
{% endblock %}
