{% extends 'base2.html' %}
{% load staticfiles %}
{% block header %}
<header ><h2 align=center>Bulk Move</font></h2></header>

<style>
 th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 1050px;
        
        margin-right: 0.5em;
    }
</style>

{% endblock %}
{% block body_block %}

{% autoescape off %}
<br><br>

<div class="row">
	<div class ="col-md-8">
	<h4><b>Institute:</b> {{selectedinstitute}}</h4>
    </div>
	<div class ="col-md-8">
	<h4><b>Teacher:</b> {{selectedteacher}}</h4>
	</div>
	
	<div class ="col-md-8">
	<h4><b>Course:</b> {{selectedcourse}}</h4>

	</div>


</div>
  <div class ="row" align="center">
  <font color=red>{{error_message}}</font>
</div>
</br>
<div class="table-responsive">
<form action="/bulkmoveupdate/{{courseid}}/{{persid}}/{{instituteid}}/" method="POST">
{% csrf_token %}

<center><b><p><font face="12"><b>Move To</b></font></p></b></center>
</br>
<center><select onchange="" id="newteacher" name="newteacher">
  <option value="Select">Select the teacher</option>
 {% for i in teacher_list %}

  <option value="{{i.0}}" >{{i.1}}</option>

{% endfor %}


</center></select>
<br><br><br><br><br>
<input type="submit" value="Submit">
</form>  
 </div>
<br>
<br>

{% endautoescape %}

{% endblock %}
