{% extends 'base2.html' %}
{% load staticfiles %}
{% block header %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
<header ><h2 align=center>Summary of Marks</font></h2></header>
<script>$(function () {
    $("[data-toggle='tooltip']").tooltip();
});
</script>
<style>
 th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 1050px;
        
        margin-right: 0.5em;
    }
td {
    border:1px solid #333;
}
</style>

{% endblock %}
{% block body_block %}
{% autoescape off %}

<br><br>

<div class="row">
	<div class ="col-md-8">
	<h4><b>Institute:</b> {{selectedinstitute}}</h4>
    </div>
	<div class ="col-md-8">
	<h4><b>Teacher:</b> {{teacher}}</h4>
	</div>
 {% if student_record %}
	<div  class ="col-md-4 " align="right">
	<h4><a href = '/downloadgradecsv/{{course}}/{{pid}}/'>Download CSV</a> </h4>
	</div>
     
 {% endif %}
	<div class ="col-md-8">
	<h4><b>Course:</b> {{course}}</h4>

	</div>
     

</div>
</br>
 {% if student_record %}

<br>
<div class="row" align = "center">
<b>Total number of  records : {{student_record|length}}</b>
</div>
<br>
<br>

<div class="table-responsive">

 <table id="example" class="table table-bordered" cellspacing="0" width="100%" >
    <thead> 
  <!--<form action = "/update" method = "post">{% csrf_token %}-->
 <tr align = "left" >
   <th align="center"  >
  <b> S.No</b>
</th>
 {% ifequal pid -1 %}
  {% for i in headerwithtt %}
    {% if forloop.counter == 2 %}
         <th data-original-title="{{i.1}}" data-container="body"  data-toggle="tooltip" data-placement="bottom" title="" >
  <b> Teacher</b>
</th>
        <th align="center" data-original-title="{{i.1}}"  data-container="body"  data-toggle="tooltip" data-placement="bottom" title="">
  <b> {{i.0}}</b>
</th>

{% else %}
 <th align="center" data-original-title="{{i.1}}"  data-container="body"  data-toggle="tooltip" data-placement="bottom" title="">
  <b> {{i.0}}</b>
</th>
{% endif %}
 {% endfor %}

{% else %}

{% for i in headerwithtt %}
    
 <th align="center"  data-original-title="{{i.1}}" data-container="body"  data-toggle="tooltip" data-placement="bottom" title="">
  <b> {{i.0}}</b>
</th>

 {% endfor %}

{% endifequal %}

</tr>
   </thead>
<tbody>
 {% ifequal pid -1 %}
  {% for student_details in student_record %}
  <tr align = "left">
      <td>{{forloop.counter}}</td>
     {% for student_detail in student_details %}
            {% if forloop.counter == 6 %}

              {% for stud in student_detail %}
                 <td>{{stud}}</td>
            {% endfor %}
               
            {% else %}                

             <td>{{student_detail}}</td>
            {% endif %}
      
     {% endfor %}

  </tr>
 {% endfor %}
{% else %}  
{% for student_details in student_record %}
  <tr align = "left">
      <td>{{forloop.counter}}</td>
     {% for student_detail in student_details %}
            {% if forloop.counter == 5 %}

              {% for stud in student_detail %}
                 <td>{{stud}}</td>
            {% endfor %}
               
            {% else %}                

             <td>{{student_detail}}</td>
            {% endif %}
      
     {% endfor %}

  </tr>
 {% endfor %}
{% endifequal %}
</tbody>
</table> 
</div>
{% else %} 
<div class="row" align = "center">
<b>No records exists</b>
</div>

{% endif %}

<br>
<br>

{% endautoescape %}

{% endblock %}
