{% load staticfiles %}
{% block header %}
{% endblock %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <style>
	
	table.data,table.data td,table.data th {
	    border: 1px solid black;
	    border-collapse: collapse;
	    text-align: center;
	}

	table.data {
	    width: 100%;
	}
	table.data tr:nth-child(odd) {
	   background-color: #ccc;
	}
	table.data tr:hover {
		  background-color: #ffff99;
		}
	table.data th {
	    height: 35px;
	    color: #F7691F
	}
	table.data tr {
	    height: 28px;
	}
	table.head, td, th, tr {
		border: 0px solid black;
		border-collapse: collapse;		
	}
	table.head {
	    width: 100%;
	    background-color: ;
	}
</style>


 <!-- Scripts ----------------------------------------------------------- -->
<script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js'></script>

<script type='text/javascript'>
$(document).ready(function () {

function exportTableToCSV($table, filename) {
var $headers = $table.find('tr:has(th)')
,$rows = $table.find('tr:has(td)')
// Temporary delimiter characters unlikely to be typed by keyboard
// This is to avoid accidentally splitting the actual contents
,tmpColDelim = String.fromCharCode(11) // vertical tab character
,tmpRowDelim = String.fromCharCode(0) // null character
// actual delimiter characters for CSV format
,colDelim = '","'
,rowDelim = '"\r\n"';
// Grab text from table into CSV formatted string
var csv = '"';
csv += formatRows($headers.map(grabRow));
csv += rowDelim;
csv += formatRows($rows.map(grabRow)) + '"';
// Data URI
var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);
$(this)
.attr({
'download': filename
,'href': csvData
//,'target' : '_blank' //if you want it to open in a new window
});
//------------------------------------------------------------
// Helper Functions
//------------------------------------------------------------
// Format the output so it has the appropriate delimiters
function formatRows(rows){
return rows.get().join(tmpRowDelim)
.split(tmpRowDelim).join(rowDelim)
.split(tmpColDelim).join(colDelim);
}
// Grab and format a row from the table
function grabRow(i,row){
var $row = $(row);
//for some reason $cols = $row.find('td') || $row.find('th') won't work...
var $cols = $row.find('td');
if(!$cols.length) $cols = $row.find('th');
return $cols.map(grabCol)
.get().join(tmpColDelim);
}
// Grab and format a column from the table
function grabCol(j,col){
var $col = $(col),
$text = $col.text();
return $text.replace('"', '""'); // escape double quotes
}
}
// This must be a hyperlink

   $(".export").on('click', function (event) {
        // CSV
        exportTableToCSV.apply(this, [$('#dvData>table'), '{{report_name}}.csv']);
        
        // IF CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
    });
});


</script>



<header><center><h2><font color="#F7691F"><u>{{report_name}}</u></font></h2></center></header>
<br><table style="width:90%" cellspacing="5" cellpadding="5" align="center"><tr><td align="left"><a href="#" class="export">Download CSV</a></td><td align="right"><a href="/blendedadmin_home">Admin Home</a></td></tr></table>
<div id="dvData">

<table cellspacing="5" cellpadding="5" border="1" style="width:90%" align="center" class="table table-hover">
<tr>
{% for title in heading %}
<th>{{title}}
</th>
{% endfor %}
</tr>
{% for row in reports %}
<tr>
{% for col in row  %}
<td>{{col}}</td>
{% endfor %}
</tr>

{% endfor %}
</table>

</div>
{% endblock %}
