{% extends 'base2.html' %}
{% load staticfiles %}
{% block header %}
<header ><h2 align=center>Faculty Students' Reports  </font></h2></header>
 <script>
            $(document).ready(function(){
                  //begin
                  $('#Institute').on('change', function() {   // check for changes
              // check for changes
             $('#Teacher').empty();        
 
$.ajax({
           type: "GET",
           url:"/courseteachers",
           data:{cid:  $('#course').val(),iid: $('#Institute').val()},
           contentType: "application/json; charset=utf-8",
           datatype: 'json',
           success: function(result)
                 {
                    console.log(result);
                    var listItems= "<option value='noteacher'>" + "--Select the Teacher-- " + "</option>" ; 
                        listItems +=   "<option value='All Teachers'>"   + "All Teachers " + "</option>"
                    var teams =  result[0] ;
                    var newrcid='<label for="Institute" id="selectedrcid">'+result[1]+'</label>';
                    $("#selectedrcid").html(newrcid);
                     console.log(teams);
                    if (teams.length==0){ alert(" Selected Teacher has not Enrolled for any Courses !!!");
listItems += "<option value='noinstiute'>" + " -- " + "</option>";
               
                     $("#Teacher").html(listItems);

                     }
                    else{
                        
                    for(var c=0; c<teams.length; c++){
                         
                
                       listItems += "<option value='" + teams[c]+ "'>" + teams[c]+ "</option>";

                     $("#Teacher").html(listItems);
                 }}

            },
        });

                  });

//newend



            })(this);
         
        </script>


<style>
 th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 1050px;
        
        margin-right: 0.5em;
    }
</style>

{% endblock %}
{% block body_block %}
<div class ="row" align="center">
  <font color=red>{{error_message}}</font>
</div>
<br>
<br>
<div >
<form action="/facultygenericinterface/{{courseid}}/" method="POST">
{% csrf_token %}
<div class ="row" align="right"><a href="/instructor_course_report/{{courseid}}">Course Home</a></div>
<div class ="row">
<div class="col-xs-6 ">
<b>Institute</b>
</div>

<div class="col-xs-6">
<b>Teacher</b>
</div>

</div>
</br>
<div class ="row">
<div class="col-xs-6 ">

<select id="Institute" name="Institute"  style="width:350px;">
<option value="noinstitute"  >-- Select the Institute -- </option>
                {% for institute in approvinstitute %}
      

<option value="{{ institute.1 }}" >{{ institute.0 }}</option>

	{% endfor %}

              </select>

</div>




<div class="col-xs-6 ">
<select id="Teacher" name="Teacher" style="width:200px;">
	<option value="">-- Select the Teacher --</option>
           
                {% for c in courseteacher %}
<option value="{{ c }}" >{{ c }}</option>
	{% endfor %}
              </select></div>




</div>

<div class ="row">
<div class="col-xs-6 ">
<label for="Institute" id="selectedrcid">{{selectedrcid}}</label>
<input type="hidden"  value="{{course}}"  id="course">
</div>
</div>
<br>
<br>
<div class ="row">

<div class="col-xs-6" >
<input type="submit"  value="Students' Details"  name="teacherstudent">

</div>
<div class="col-xs-6" >
<input type="submit"  value="Grade Details "  name="grade">

</div>
</div>
<br>
<br>
<div class ="row">
<div class="col-xs-6" >
<input type="submit"  value="Evaluation Details"  name="evaluation">

</div>

<div class="col-xs-6" >
<input type="submit"  value="Evaluation Status "  name="evaluationstatus">

</div>

</div>
<br>
<br>
<div class ="row">

<div class="col-xs-6 " >
<input type="button" value="clear" onclick="location.href='/facultygenericinterface/{{courseid}}/'">
</div>
</div>
<br>
<br>

</form>  
 </div>

<br>
<br>



</br>

{% endblock %}
