{% extends 'base2.html' %}
{% load staticfiles %}
{% block header %}
<header ><h2 align=center>Institute-Wise:Evaluation Report  </font></h2></header>


<!--begindownloadcsv-->
 <!-- Scripts ----------------------------------------------------------- -->
<script>

$(document).ready(function () {

    function exportTableToCSV($table, filename) {

        var $rows = $table.find('tr:has(td)'),

            // Temporary delimiter characters unlikely to be typed by keyboard
            // This is to avoid accidentally splitting the actual contents
            tmpColDelim = String.fromCharCode(11), // vertical tab character
            tmpRowDelim = String.fromCharCode(0), // null character

            // actual delimiter characters for CSV format
            colDelim = '","',
            rowDelim = '"\r\n"',

            // Grab text from table into CSV formatted string
            csv = '"' + $rows.map(function (i, row) {
                var $row = $(row),
                    $cols = $row.find('td');

                return $cols.map(function (j, col) {
                    var $col = $(col),
                        text = $col.text();

                    return text.replace(/"/g, '""'); // escape double quotes

                }).get().join(tmpColDelim);

            }).get().join(tmpRowDelim)
                .split(tmpRowDelim).join(rowDelim)
                .split(tmpColDelim).join(colDelim) + '"',

            // Data URI
            csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

        $(this)
            .attr({
            'download': filename,
                'href': csvData,
                'target': '_blank'
        });
    }

    // This must be a hyperlink
    $(".export").on('click', function (event) {
        // CSV
        var selectedeval="{{selectedeval}}"
        var dateformated = new Date().toString().replace(/ /g,'');
        
        exportTableToCSV.apply(this, [$('#dvData>table'), selectedeval+'_Eval_'+dateformated+".csv"]);
        
        // IF CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
    });
});
</script>
<!--enddownloadcsv-->

<style>
 th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 1050px;
        
        margin-right: 0.5em;
    }
</style>

{% endblock %}
{% block body_block %}


<div ><center>
<div class ="row" align="center">
  <font color=red>{{error_message}}</font>
</div>

<br>
<form action="/evallistforinstiwise/{{courseid}}/{{pid}}/{{instituteidid}}/" method="POST">
{% csrf_token %}

</br>
<div class ="row">
<select id="sectionid" name="sectionid"  style="width:280px;">
<option value=""  >-- Select the Evaluation -- </option>
                {% for eval in evaluation_obj %}
      

<option value="{{eval.sectionid}}" >{{eval.sec_name}}</option>

	{% endfor %}

              </select>

<br><br>
<input type="submit" value="Submit" >


</div>
</form>  </center>
 </div>

<br>
<br>
{% if evalstatus_list %}

<div class="row">
    <div class ="col-md-8">
	<h4><b>CourseId:</b> {{course}}</h4>
	</div>
    <div class ="col-md-8">
	<h4><b>CourseName:</b> {{coursename}}</h4>
	</div>
	<div class ="col-md-8">
	<h4><b>Evaluation:</b> {{selectedeval}}</h4>
    </div>
	
</div>

<div  class ="row" align="right">
<a href="#"  class="export">Download CSV</a>
</div>
</br>
<div id="dvData" class="table-responsive">

 <table id="datatable" class="table table-bordered" cellspacing="0" width="100%" >
  <tr align = "left" >
  <td><b>RCID </b></td>
  <td><b>RCName </b></td>
  <td><b>Partially Attempted </b></td>
  <td><b>Not Attempted </b></td>
  <td><b>Fully Attempted</b></td>
  <td><b>Total</b></td>
</tr>

  {% for i in evalstatus_list %}
  <tr align = "left" >
  <td>{{i.0}}</td>
  <td>{{i.1}}</td>
  <td>{{i.2}}</td>
  <td>{{i.3}}</td>
   <td>{{i.4}}</td>
   <td>{{i.5}}</td>
</tr>
 {% endfor %}

</table> </div>
{% endif %}
{% endblock %}
