{% extends 'base2.html' %}
{% block header %}
<header>
<p><h2>User Guides- Upload </h2></p>
</header>
<script>
$(document).ready(function () {

    var files;

    $('#usermanual').on('change', prepareUpload);
    function prepareUpload(event){
      files = event.target.files;
    };
    $("#uploaduser").click(function () {
         $('#out').empty();
         var data = new FormData();
jQuery.each(jQuery('#usermanual')[0].files, function(i, file) {
    data.append('usermanual', file);
    data.append('bmadminmanual', ['']);
});
        
         $.ajax({
            url: '/sendmanual/',  
            type: 'POST',
            data: data,
            success:function(data){
                                    var htmloutput= '<p id="out"><h5 style = "color : red">'+data+'</p>';
                                    $('#out').html(htmloutput);
                                }, 
            cache: false,
            contentType: false,
            processData: false
        });
    });

//jquery for blended manual
    var files;

    $('#bmadminmanual').on('change', prepareUpload2);
    function prepareUpload2(event){
      files2 = event.target.files;
    };
    $("#uploadadmin").click(function () {
        $('#out').empty();
        
         var data1 = new FormData();
jQuery.each(jQuery('#bmadminmanual')[0].files, function(i, file) {
    data1.append('bmadminmanual', file);
   data1.append('usermanual', []);
});
  
      
         $.ajax({
            url: '/sendmanual/',  
            type: 'POST',
            data: data1,
            success:function(data){
                                   console.log(data);
                                   var htmloutput= '<p id="out"><h5 style = "color : red">'+data+'</p>';
                                    $('#out').html(htmloutput);
                                }, 
            cache: false,
            contentType: false,
            processData: false
        });
    });

////


});



</script>
{% endblock %}
{% block body_block %}
{% block content %}

<head>
<link rel="stylesheet" type="text/css" href="dashboard.css">
</head>


<div>

<ol><p id="out"><h5 style = "color : red">{{error_message}}{{successmsg}}</p></ol>
<ol>

    {% csrf_token %}
    <table>
        <tr>
        <td>
            <label><b>Blended MOOCs User Guide </b> </label>
          
        </td>
        <td>
            <input type="file" value="usermanual" name="usermanual" id="usermanual" /><br/>
          
        </td><td>
            <input type="button"  value="upload" id="uploaduser"/>
        </td></tr>
         <tr>
           <td>
            <label><b>Blended Course Administrator User Guide &nbsp; </b></label>
          
        </td>
           <td>
            <input type="file" value="bmadminmanual" name="bmadminmanual" id="bmadminmanual" /><br/>
          
        </td><td>
            <input type="button" value="upload" id="uploadadmin"/>
        </td></tr>
    </table>
</ol>
</div>


{% endblock %}
{% endblock %}





