<!DOCTYPE html>
{% load staticfiles  %}
<html lang="en"><!--<![endif]--><head dir="ltr">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


<p id="show-error"></p>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js">
</script>

{% block title_block %}
  
  {% endblock %}

  <script type="text/javascript">
    /* immediately break out of an iframe if coming from the marketing website */
    (function(window) {
      if (window.location !== window.top.location) {
        window.top.location = window.location;
      }
    })(this);
  </script>

<script type="text/javascript" src="Registeration_files/a"></script>
<link rel="icon" type="image/x-icon" href="https://www.iitbombayx.in/static/themes/iitbombayx-theme/images/favicon.22b053d5ddae.ico">
<link href="{% static 'css/lms-style-vendor.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/lms-style-app.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/lms-style-app-extend1.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/lms-style-app-extend2.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'js/registration_page_validation.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/lms-main_vendor.js' %}" charset="utf-8"></script>



  <script>
    window.baseUrl = "/static/";
    (function (require) {
        var urlArgs = "v=14d3fa0";
      require.config({
          baseUrl: baseUrl,
          urlArgs: urlArgs
      });
    }).call(this, require || RequireJS.require);
  </script>
  <script type="text/javascript" src="{% static 'js/require-config-lms.js' %}"></script>

  <!-- dummy segment.io -->
<script type="text/javascript">
  var analytics = {
    track: function() { return; },
    pageview: function() { return; }
  };
</script>
<!-- end dummy segment.io -->
  <meta name="path_prefix" content="">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY">
</head>

<body class="ltr view-register lang_en js">
  <div class="window-wrap" dir="ltr">
    <a class="nav-skip" href="#content">Skip to this view's content</a>

<style>

</style>

{% if pageid != '3' %}
 <header class="global " aria-label="Global Navigation">
    <nav>
    <h1 class="logo">
      <a href="/">
         <img src="{% static 'images/swayamlogo_header.png' %} " alt="Home Page" height="50">
      </a>
    </h1>


    <ol class="left nav-global">
      
<li class="nav-global-04">
            <a class="cta cta-register" href="https://www.iitbombayx.in/how_it_works">How it works</a>
          </li>
          <li class="nav-global-04">
            <a class="cta cta-register" href="https://www.iitbombayx.in/all_courses/all">Courses</a>
          </li>
          <li class="nav-global-04">
            <a class="cta cta-register" href="https://www.iitbombayx.in/partners">Partners</a>
          </li>

          <li class="nav-global-04">
            <a class="cta cta-register" href="https://www.iitbombayx.in/register">Register Now</a>
          </li>
		
        <li class="nav-global-04">
            <a href="#change_language" rel="leanModal" class="cta cta-register">Language</a>
        </li>

    </ol>

    
<ol class="right nav-courseware">
    <li class="nav-courseware-01">
          <a class="cta cta-login" href="/login/">Log in</a>
    </li>
</ol>
  </nav>
</header>
{% else %}

 <header class="global " aria-label="Global Navigation">
    <nav>
    <h1 class="logo">
      <a href="https://iitbombayx.in/">
        
  <img src="{% static 'images/swayamlogo_header.png' %}" alt="Home Page" height="50">

      </a>
    </h1>
{% block header_block %}
<ol class="left nav-global authenticated">
<li class="nav-global-01">
<a href = "{% url 'ccourses' %}">Course Enrollment</a>
</li>


<li class="nav-global-01">
<a href = "/dash/">Team Management</a>
</li>

<li class="nav-global-01">
<a href = "{% url 'allcourses' %}">Find course</a>
</li>

</ol>
<ol class="right nav-courseware">


    <li class="nav-courseware-01">
   
	<button onclick="location.href='/logout'" >Log out</button>
          </li>
      
    </ol>
{% endblock %}

  </nav>
</header>

{% endif %}


    <div class="content-wrapper" id="content">
 
<section id="change_language" class="modal modal-settings-language" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="change_language_title">
    <button class="close-modal">
      <i class="icon-remove"></i>
      <span class="sr">
        Close
      </span>
    </button>

    <header>
      <h2>
        <span id="change_language_title">Change Preferred Language</span>
        <span class="sr">,
          window open
        </span>
      </h2>
      <hr>
    </header>
    <div id="change_language_body">
      <form action="/i18n/setlang/" method="post" class="settings-language-form" id="settings-form"> {% csrf_token %}
      <input name="csrfmiddlewaretoken" value="yqDU4I1dFK8IPiyEDqfRcwsqNGaWB7dr" type="hidden">
        <ol class="list-input">
          <li class="field text settings-language-select" id="settings-language-select">
            <label class="label sr" for="settings-language-value">Please choose your preferred language</label>
            <select class="input select" id="settings-language-value" name="language" onchange="myFunction()">
                    <option selected="selected" value="en">English</option>
                    <option value="hi">à€¹à€¿à€šà¥à€Šà¥</option>
            </select>
          </li>
        </ol>
        <div id="support" style="color:#FF0000;"></div>

        <div class="submit">
          <input id="submit-lang" value="Save Language Settings" type="submit">
        </div>
      </form>
    </div>
  </div>
</section>

<style>
.view-register .wrapper-footer footer .colophon-about img, .view-login
.wrapper-footer footer .colophon-about img {
    margin-top: 0px;
}

.content-wrapper{
padding-bottom:0px;
background:#F7F7F7 !important;
font-family: "Open Sans",Arial,Helvetica,sans-serif;
margin-top:76px;
}

header.global{
position:fixed;
top:0px;
}

.view-register .container{
background:#FFF;
}

header.global .nav-global li a{
color:#3D3E3F !important;
}

header.global .nav-global li a:hover{
color:#F7691F !important;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-autocomplete {
    background-color: rgba(236, 236, 236, 0.95);
    width: 300px;
    padding: 25px;
    height: 100px;
    border: 1px solid #222;
    margin: 5px;
    overflow: scroll;
 }
.ui-menu-item{
list-style-type: none;
}

.ui-menu-item a {
color: #222 !important;
}

</style>


<section class="introduction">
  <header>
<img src="{% static 'images/iitbxheader.png' %}"/>
    <h1 class="title">

{% if pageid != '3' %}
      <span class="title-super">Welcome to IITBombayX partner Systems !!!</span>
{% else %}
	<span class="title-super">Edit Your Profile</span>
{% endif %}

      <span class="title-sub"></span>
    </h1>
  </header>
</section>
{% block body_block %}
{% endblock %}


  <aside role="complementary">

<header>
  <h3 class="sr">Registration Help</h3>
</header>

{% if pageid != '3' %}
<div class="cta cta-login">
  <h3 class="title">Already registered?</h3>
  <p class="instructions">
    <a href="/">
      Click here to log in.
    </a>
  </p>
</div>

  <div class="cta cta-help">
    <h3>Need Help?</h3>
    <p>Need help in registering with IITBombayX?
      <a href="https://www.iitbombayx.in/faq">
          View our FAQs for answers to commonly asked questions.
      </a>
      Once registered, most questions can be answered  through the FAQs.</p>
  </div>
{% endif %}

  </aside>
</section>
   </div>

 
<style>
.wrapper-footer{
padding-top:16px;

}

.wrapper-footer footer .references{
margin-top:0px;
}

.wrapper-footer footer .colophon .nav-colophon li a {
        border-bottom:none !important;
	color:#3D3E3F;
}

.wrapper-footer footer{
width:960px;
margin:auto;
}
</style>

<div class="wrapper wrapper-footer" style="width:auto;">
  <footer>
    <div class="colophon">
        <img src="{% static 'images/swayamlogo_footer.png' %}" style="width:auto; height:auto;" alt="IITBombayX Logo">
        <p style="text-align:justify; color:#565656;"></p> 
      </div>
    </div>

    
  </footer>
</div>


  </div>

  <script>window.baseUrl = "/static/";</script>
    <script type="text/javascript" src="Registeration_files/lms-application.js" charset="utf-8"></script>
    <script type="text/javascript" src="Registeration_files/lms-modules.js" charset="utf-8"></script>
<div id="lean_overlay"></div><div id="reader-feedback" class="sr" style="display:none" aria-hidden="false" aria-atomic="true" aria-live="assertive"></div></body></html>
