{% extends 'base2.html' %}
{% load staticfiles %}
{% block header %}
<header ><h2 align=center>Evaluation Status Report</font></h2></header>

<style>
 th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 1050px;
        
        margin-right: 0.5em;
    }
</style>

{% endblock %}
{% block body_block %}
{% autoescape off %}
<br><br>

<div class="row">
	<div class ="col-md-8">
	<h4><b>Institute:</b> {{selectedinstitute}}</h4>
    </div>
	<div class ="col-md-8">
	<h4><b>Teacher:</b> {{teacher}}</h4>
	</div>
	
	<div class ="col-md-8">
	<h4><b>Course:</b> {{course}}</h4>

	</div>
    <div class ="col-md-8">
	<h4><b>Evaluation:</b> {{secname}}</h4>

	</div>
    <div  class ="col-md-4 " align="right">
	<h4><a href = '/evalstatus/{{courseid}}/{{pid}}/{{instituteidid}}/0'>Change Evaluation</a></h4>
	</div>

</div>
<br><br>

 <table   width="90%" >
	<tr>
	<h4><td>Number of students who have not attempted even one question:</td>
</td> <td><a   href="/studentstatus/{{courseid}}/{{pid}}/{{instituteidid}}/5/" > {{NA_count}}</a></td></h4>
    </tr>
	<tr>
	<h4><td>Number of students who have attempted at least one but not all questions:</td>
</td> <td> <a   href="/studentstatus/{{courseid}}/{{pid}}/{{instituteidid}}/6/">{{PA_count}}</a></a></td></h4>
    </tr>
	
	<tr>
	<h4><td>Number of students who have attempted all questions:</td>
</td> <td>  <a   href="/studentstatus/{{courseid}}/{{pid}}/{{instituteidid}}/7/"> {{AA_count}}</a></a></td></h4>
    </tr>
   
</table>

</br>

<style>


.table td,.table th ,.table tr,.table thread .table tbody {
    border: 1px solid black;
}
</style>
{% if stud_rec %}
<div  class ="row" align="right">
	<h4><a href ="{% static filename %}">Download</a></h4>
     
	</div>
</br>
</br>
<div id="1" class="table-responsive" >

 <table  class="table" border="1"  cellspacing="0" width="100%" >
    <thead> 
  <!--<form action = "/update" method = "post">{% csrf_token %}-->
 <tr align = "left" >
  <td align="center"  >
  <b> S.No</b>
</td>
  {% for i in heading %}
 <td align="center"  >
  <b> {{i}}</b>
</td>

 {% endfor %}
</tr>
   </thead>
<tbody >
{% for i in stud_rec %}
     <tr align = "left">
      <td align=center >  {{forloop.counter}}</td>
     {% for j in i %}  
          {% ifequal forloop.counter 5 %}
                {% for k in j %} 
                   <td align=center >  {{k}}</td>
                {% endfor %}
          {% else %}
      
             <td align=center >  {{j}}</td>
          {% endifequal %}
     {% endfor %}
     </tr>
{% endfor %}
</tbody>

</table> 
</div>
{% endif %}

<br>
<br>

  {% endautoescape %}

{% endblock %}
