<!DOCTYPE html>
{% load staticfiles %}
<!--[if IE 7]><html class="ie ie7 lte9 lte8 lte7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en"><!--<![endif]--><head dir="ltr">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>
       Blended  IITBombayX
      </title>
  <script type="text/javascript">
    /* immediately break out of an iframe if coming from the marketing website */
    (function(window) {
      if (window.location !== window.top.location) {
        window.top.location = window.location;
      }
    })(this);
  </script>
  <script type="text/javascript" src="{% static 'js/a' %}"></script>
  <link rel="icon" type="image/x-icon" href="https://iitbombayx.in/static/themes/iitbombayx-theme/images/favicon.22b053d5ddae.ico">
    <link href="{% static 'css/lms-style-vendor.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lms-style-app.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lms-style-app-extend1.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lms-style-app-extend2.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'js/lms-main_vendor.js' %}" charset="utf-8"></script>
  <script>
    window.baseUrl = "/static/";
    (function (require) {
        var urlArgs = "v=14d3fa0";
      require.config({
          baseUrl: baseUrl,
          urlArgs: urlArgs
      });
    }).call(this, require || RequireJS.require);
  </script>
<script type="text/javascript" src="{% static 'js/require-config-lms.js' %}"></script>
<script type="text/javascript">
  var analytics = {
    track: function() { return; },
    pageview: function() { return; }
  };
</script>
  <meta name="path_prefix" content="">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY">
  <script></script>
<body class="ltr view-dashboard is-authenticated lang_en">
  <div class="window-wrap" dir="ltr">
    <a class="nav-skip" href="#my-courses">Skip to this view's content</a>
 <header class="global " aria-label="Global Navigation">
    <nav>
    <h1 class="logo">
      <a href="https://localhost:8000/">
  <img src="{% static 'images/swayamlogo_header.png' %}" alt="Home Page" height="50">
      </a>
    </h1>
    <ol class="left nav-global authenticated">
      
          <li class="nav-global-01">
           <!-- BharatMooc 22nd Dec 2014 changed the URL; <a href="/courses">Find Courses</a> -->
            <a href="https://iitbombayx.in/all_courses/all">DashBoard</a>
          </li>
      
    </ol>
    <ol class="user">
      <li class="primary">
        <a href="https://iitbombayx.in/dashboard" class="user-link">
          <span class="avatar"></span>
          <span class="sr">Dashboard for: </span> Teacher_ID
        </a>
      </li>
      <li class="primary">
        <a href="#" class="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr">More options dropdown</span> ▾</a>
        <ul class="dropdown-menu" aria-label="More Options" role="menu">
          

            <li><a href="https://iitbombayx.in/faq">Help</a></li>
          
          <li><a href="https://iitbombayx.in/logout" role="menuitem">Log Out</a></li>
        </ul>
      </li>
    </ol>
  </nav>
</header>

<!--Bab Bharat MOOCs-->

<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});

(function() {


$('.message.is-expandable .wrapper-tip').bind('click', toggleExpandMessage);

$("#submit-lang").click(function(event, xhr) {

event.preventDefault();

$.post('/lang_pref/setlang/',

{"language": $('#settings-language-value').val()})

.done(

function(data){

// submit form as normal

$('.settings-language-form').submit();

}

);

});

})(this);


</script>




















    <div class="content-wrapper" id="content">
      


















<script type="text/template" id="donation-tpl">
  <div class="donation-error-msg" />
<form class="nav-item donate-form">
    <span class="monetary-symbol">$</span>
    <input class="amount" type="text" name="amount" value="5" />
    <button class="btn action-primary action-donate" type="submit" name="Donate"><%- gettext('Donate') %></button>
</form>
<form class="payment-form"></form>

</script>




<div class="dashboard-notifications" tabindex="-1">



</div>

<section class="container dashboard" id="dashboard-main">

  <section class="profile-sidebar">
    <header class="profile">
      <h1 class="user-name">Teacher_ID</h1>
    </header>
    <section class="user-info">
      <ul>
        <li class="info--username">
          <!--<span class="title">Full Name (<a href="#apply_name_change" rel="leanModal" class="edit-name">edit</a>)</span>--> <span class="data">Teacher Name</span>
        </li>
        <li class="info--email">
          <!--<span class="title">Email
            (<a href="#change_email" rel="leanModal" class="edit-email">edit</a>)
          </span>--> <span class="data">Teacher Email</span>
        </li>

        



<li class="status status-language">
  <span class="title status-title">
    <i class="icon icon-flag-alt"></i> 
<!--Bharat_Mooc : Added Preffered Language tab -->
    <a href="#change_language" rel="leanModal" class="edit-language" aria-haspopup="true">   Preferred Language</a>
  </span>
 
</li>



        <li class="controls--account">
          <span class="title"><a href="#password_reset_complete" rel="leanModal" id="pwd_reset_button">Reset Password</a></span>
          <form id="password_reset_form" method="post" data-remote="true" action="/password_reset/">
            <input id="id_email" name="email" maxlength="75" value="mohsinmohammad110@gmail.com" type="hidden">
            <!-- <input type="submit" id="pwd_reset_button" value="Reset Password" /> -->
          </form>
        </li>

        










        




      </ul>
    </section>

  </section>

  <section class="my-courses" id="my-courses">
  <div>
    <header>
     
    </header>
  {% block body_block %}{% endblock %}
 </div>
</section>
   <!--   <ul class="listing-courses">
            
            
            
            
            
            
            
            
            








<li class="course-item">
    <article class="course">
    

        <a href="https://iitbombayx.in/courses/IITBombayX/IITBombayX/2015_2016/info" class="cover">
        <img src="Dashboard%20%7C%20IITBombayX_files/IITBombayXdemo_course_banner.png" alt="IITBombayX Demo Course Cover Image">
      </a>

    <section class="info">
      <hgroup>
        <p class="date-block">
        Course Started - Jan 26, 2015 at 03:00 UTC
        </p>
        <h2 class="university">IITBombayX</h2>
        <h3>
            <a href="https://iitbombayx.in/courses/IITBombayX/IITBombayX/2015_2016/info">IITBombayX Demo Course</a>
        </h3>
      </hgroup>




          <a href="https://iitbombayx.in/courses/IITBombayX/IITBombayX/2015_2016/info" class="enter-course">View Course</a>

        <a id="email-settings-0" href="#unenroll-modal" class="unenroll" rel="leanModal" data-course-id="IITBombayX/IITBombayX/2015_2016" data-course-number="IITBombayX" onclick="document.getElementById('track-info').innerHTML='Are you sure you want to unenroll from'; document.getElementById('refund-info').innerHTML=''">
          Unenroll
        </a>

        <a id="unenroll-0" href="#email-settings-modal" class="email-settings" rel="leanModal" data-course-id="IITBombayX/IITBombayX/2015_2016" data-course-number="IITBombayX" data-optout="False">Email Settings</a>



  </section>
</article>

</li>
 <script>
           $( document ).ready(function() {

               if("False" == "True"){
                   $( "#unregister_block_course" ).click(function() {
                       $('.disable-look-unregister').click();
                   });
               }
           });
 </script>

            
            
            
            
            
            
            
            
            








<li class="course-item">
    <article class="course">
    

        <a href="https://iitbombayx.in/courses/IITBombayX/CS101.1x/2015-16/info" class="cover">
        <img src="Dashboard%20%7C%20IITBombayX_files/unnamed.jpg" alt="CS101.1x Introduction to Computer Programming Cover Image">
      </a>

    <section class="info">
      <hgroup>
        <p class="date-block">
        Course Completed - Apr 22, 2015 at 23:30 UTC
        </p>
        <h2 class="university">IITBombayX</h2>
        <h3>
            <a href="https://iitbombayx.in/courses/IITBombayX/CS101.1x/2015-16/info">CS101.1x Introduction to Computer Programming</a>
        </h3>
      </hgroup>

      






<div class="message message-status course-status-certavailable is-shown">

      <p class="message-copy">Your final grade:
      <span class="grade-value">100%</span>.
      </p>

  <ul class="actions">
      <li class="action action-certificate">
      <a class="btn" href="https://certificate.iitbombayx.in/downloads/054a205a08fe49e9abaf232efca63bcb/Certificate.pdf" title="This link will open/download a PDF document">
         Download Your Certificate (PDF)</a></li>

  </ul>
</div>





          <a href="https://iitbombayx.in/courses/IITBombayX/CS101.1x/2015-16/info" class="enter-course archived">View Archived Course</a>

        <a id="email-settings-1" href="#unenroll-modal" class="unenroll" rel="leanModal" data-course-id="IITBombayX/CS101.1x/2015-16" data-course-number="CS101.1x" onclick="document.getElementById('track-info').innerHTML='Are you sure you want to unenroll from'; document.getElementById('refund-info').innerHTML=''">
          Unenroll
        </a>

        <a id="unenroll-1" href="#email-settings-modal" class="email-settings" rel="leanModal" data-course-id="IITBombayX/CS101.1x/2015-16" data-course-number="CS101.1x" data-optout="False">Email Settings</a>



  </section>
</article>-->

</li>
 <script>
           $( document ).ready(function() {

               if("False" == "True"){
                   $( "#unregister_block_course" ).click(function() {
                       $('.disable-look-unregister').click();
                   });
               }
           });
 </script>


      </ul>

  </section>
</section>

<section id="email-settings-modal" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="email-settings-title">
    <button class="close-modal">
      <i class="icon-remove"></i>
      <span class="sr">
        Close
      </span>
    </button>

    <header>
      <h2 id="email-settings-title">
        Email Settings for <span id="email_settings_course_number"></span>
        <span class="sr">,
          window open
        </span>
      </h2>
      <hr>
    </header>

    <form id="email_settings_form" method="post">
      <input name="course_id" id="email_settings_course_id" type="hidden">
      <label>Receive course emails <input id="receive_emails" name="receive_emails" type="checkbox"></label>
      <div class="submit">
        <input id="submit" value="Save Settings" type="submit">
      </div>
    </form>
  </div>
</section>



<section id="password_reset_complete" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="password-reset-email">
    <button class="close-modal">
      <i class="icon-remove"></i>
      <span class="sr">
        Close
      </span>
    </button>

    <header>
      <h2 id="password-reset-email">
        Password Reset Email Sent
        <span class="sr">,
          window open
        </span>
      </h2>
      <hr>
    </header>
    <div>
      <form> <!-- Here for styling reasons -->
        <section>
          <p>An email has been sent to mohsinmohammad110@gmail.com. Follow the link in the email to change your password.</p>
        </section>
      </form>
    </div>
  </div>
</section>

<section id="change_email" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="change_email_title">
    <button class="close-modal">
      <i class="icon-remove"></i>
      <span class="sr">
        Close
      </span>
    </button>

    <header>
      <h2>
        <span id="change_email_title">Change Email</span>
        <span class="sr">,
          window open
        </span>
      </h2>
      <hr>
    </header>
    <div id="change_email_body">
      <form id="change_email_form">
        <div id="change_email_error" class="modal-form-error"> </div>
        <fieldset>
          <div class="input-group">
            <label>Please enter your new email address:</label>
            <input id="new_email_field" value="mohsinmohammad110@gmail.com" type="email">
            <label>Please confirm your password:</label>
            <input id="new_email_password" value="" type="password">
          </div>
          <section>
            <p>We will send a confirmation to both mohsinmohammad110@gmail.com and your new email address as part of the process.</p>
          </section>
          <div class="submit">
            <input id="submit_email_change" value="Change Email" type="submit">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>





<!--
#Bharat_Mooc
#Details : Added language settings 
-->
<script type="text/javascript"> 

 function myFunction()
{
    var valueSelected= String($('#settings-language-value').val());

    String.prototype.in = function() {
    for(var i=0; i<arguments.length; i++)
       if(arguments[i] == this) return true;
    return false;
}
   


   if (!valueSelected.in('en','hi','as','mr'))
      {
      divTxt= ' Not fully supported !  Will be implemented soon '
      document.getElementById('support').innerHTML = divTxt;
      }
   else
     $('#support').empty();

    
};

</script>
<!--
#Bharat_Mooc
-->
<section id="change_language" class="modal modal-settings-language" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="change_language_title">
    <button class="close-modal">
      <i class="icon-remove"></i>
      <span class="sr">
        Close
      </span>
    </button>

    <header>
      <h2>
        <span id="change_language_title">Change Preferred Language</span>
        <span class="sr">,
          window open
        </span>
      </h2>
      <hr>
    </header>
    <div id="change_language_body">
      <form action="/i18n/setlang/" method="post" class="settings-language-form" id="settings-form">
      <input name="csrfmiddlewaretoken" value="yfKPbtpTjkfKUGE7ETaXijw6YlK2DTAc" type="hidden">
        <ol class="list-input">
          <li class="field text settings-language-select" id="settings-language-select">
            <label class="label sr" for="settings-language-value">Please choose your preferred language</label>
<!--Bharat_MOOC : Added  onchange="myFunction()-->
            <select class="input select" id="settings-language-value" name="language" onchange="myFunction()">
                    <option value="en" selected="selected">English</option>
                    <option value="hi">हिन्दी</option>
            </select>
          </li>
        </ol>
<!--Bharat_MOOC : Added div -->
        <div id="support" style="color:#FF0000;"></div>

        <div class="submit">
          <input id="submit-lang" value="Save Language Settings" type="submit">
        </div>
      </form>

<!--      <ul class="list list-actions actions-supplemental">
        <li class="list-actions-item">
        Don't see your preferred language? <a class=" action action-volunteer" rel="external" target="_blank" href=https://github.com/edx/edx-platform/blob/master/docs/en_us/developers/source/i18n_translators_guide.rst>Volunteer to become a translator!</a>
        </li>
      </ul>                -->
    </div>
  </div>
</section>


<section id="apply_name_change" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="change-name-title">
    <button class="close-modal">
      <i class="icon-remove"></i>
      <span class="sr">
        Close
      </span>
    </button>

    <header>
      <h2 id="change-name-title">
        Change your name
        <span class="sr">,
          window open
        </span>
      </h2>
      <hr>
    </header>
    <div id="change_name_body">
      <form id="change_name_form">
        <div id="change_name_error" class="modal-form-error"> </div>
        <p>To uphold the credibility of your IITBombayX Certificate, all name changes will be recorded.</p>
        <br>
        <fieldset>
          <div class="input-group">
            <label>Enter your desired full name, as it will appear on your IITBombayX Certificate:</label>
            <input id="new_name_field" type="text">
            <label>Reason for name change:</label>
            <textarea id="name_rationale_field" value=""></textarea>
          </div>
          <div class="submit">
            <input id="submit" value="Change My Name" type="submit">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>

<section id="unenroll-modal" class="modal unenroll-modal" aria-hidden="true">
  <div class="inner-wrapper" role="alertdialog" aria-labelledy="unenrollment-modal-title">
    <button class="close-modal">
      <i class="icon-remove"></i>
      <span class="sr">
        Close
      </span>
    </button>

    <header>
      <h2 id="unenrollment-modal-title">
        <span id="track-info"></span> <span id="unenroll_course_number"></span>?  <span id="refund-info"></span>
        <span class="sr">,
          window open
        </span>
      </h2>
      <hr>
    </header>
    <div id="unenroll_error" class="modal-form-error"></div>
    <form id="unenroll_form" method="post" data-remote="true" action="/change_enrollment">
      <input name="course_id" id="unenroll_course_id" type="hidden">
      <input name="enrollment_action" value="unenroll" type="hidden">
      <div class="submit">
        <input name="submit" value="Unenroll" type="submit">
      </div>
    </form>
  </div>
</section>

      
    </div>

    






<style>
.wrapper-footer{
padding-top:16px;

}

.wrapper-footer footer .references{
margin-top:0px;
}

.wrapper-footer footer .colophon .nav-colophon li a {
        border-bottom:none !important;
	color:#3D3E3F;
}



/*.wrapper-footer footer .colophon .nav-colophon li a {
	border-bottom:none !important;
    color: #3D3E3F !important;
}

.wrapper-footer footer .colophon .nav-colophon li a:hover{
    color: #FF621B !important;
}

.wrapper-footer footer a:link, .wrapper-footer footer a:visited, .wrapper-footer footer a:hover, .wrapper-footer footer a:focus, .wrapper-footer footer a:active {
    border-bottom: medium none;
    color: #E44600;
    text-decoration: none !important;
}

.wrapper-footer footer a:hover, .wrapper-footer footer a:focus, .wrapper-footer footer a:active {
    border-bottom: 1px dotted #FF621B;
    color: #FF621B;
}*/

.wrapper-footer footer{
width:960px;
margin:auto;
}

</style>

<div class="wrapper wrapper-footer" style="width:auto;">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon" style="margin-bottom:20px;">
      <ol>
          <li class="nav-colophon-01">
          <a id="about" href="https://iitbombayx.in/about">
              About
          </a>
          </li>
	  <!-- Bharat MOOCs -->
          <li class="nav-colophon-02" style="color:#565656;">
          <a id="news" href="http://news.iitbombayx.in/" target="_blank">
              News
          </a>
          </li>
          <li class="nav-colophon-03" style="color:#565656;">
          <a id="blog" href="http://blogs.iitbombayx.in/" target="_blank">
              Blog
          </a>
          </li>
          <li class="nav-colophon-04" style="color:#565656;">
          <a id="faq" href="https://iitbombayx.in/faq">
              FAQ
          </a>
          </li>
          <li class="nav-colophon-05" style="color:#565656;">
          <a id="contact" href="https://iitbombayx.in/contact">
              Contact Us
          </a>
          </li>
      </ol>
      </nav>

      <div class="colophon-about">
<!-- Bharat MOOCs-->
        <img src="Dashboard%20%7C%20IITBombayX_files/swayamlogo_footer.png" style="width:auto; height:auto;" alt="IITBombayX Logo">

        <p style="text-align:justify; color:#565656;">IITBombayX offers 
interactive online classes and MOOCs. Subjects from multiple disciplines
 are presently offered, as can be seen in the list of courses. This list
 will expand later. IITBombayX is a non-profit online platform created 
with funding from National Mission on Education through Information and 
Communication Technology (NME-ICT), Ministry of Human Resource 
Development (MHRD), Government of India (GoI).</p> 
      </div>
    </div>

    <div class="references">
      <nav class="nav-social">
        <ul>
          <li class="nav-social-02">
            <a href="https://www.facebook.com/iitbombayx" target="_blank" rel="external">
              <img src="{% static 'images/ico-social-facebook.png' %}" alt="edX on Facebook">
            </a>
          </li>
          <li class="nav-social-03">
            <a href="https://twitter.com/iitbombayx" target="_blank" rel="external">
              <img src="{% static 'images/ico-social-twitter.png' %}" alt="edX on Twitter">
            </a>
          </li>
          <li class="nav-social-04">
            <a href="https://plus.google.com/u/0/113536343441190768869" target="_blank" rel="external">
              <img src="{% static 'images/ico-social-google.png' %}" alt="edX on Google+">
            </a>
          </li>
          <!--li class="nav-social-05">
            <a href="#"  target="_blank" rel="external">
              <img src="/static/images/social/ico-social-youtube.909f05910c79.png" alt="edX on YouTube" />
            </a>
          </li-->
        </ul>
      </nav>

      <!--p class="copyright" style="text-align:right; color:#050505; margin-bottom:11px;">&copy; 2014 IITBombayX, except where noted, all rights reserved</p-->

      <nav class="nav-legal">
        <ul style="display:block;float:right;text-align:right;">
          <li class="nav-legal-01" style="display:block;">
		<style>.wrapper-footer footer .references .nav-legal .nav-legal-01 a:after {content:none;}</style>
            <a style="display: inline-block;" href="https://iitbombayx.in/tos" target="_blank">Terms of Service and Honour Code</a>
          </li>
          <li class="nav-legal-02" style="display:block;">
            <a style="display: inline-block;" target="_blank" href="https://iitbombayx.in/privacy">Privacy Policy</a>
          </li>
          <li class="nav-legal-03" style="display:block; float:right;">	
		 <style>.wrapper-footer footer .references .nav-legal .nav-legal-03 a:hover{border-bottom:0px;}</style> 
            <a style="display: inline-block; " href="http://openedx.org/" target="_blank"><img src="{% static 'images/edx-openedx-logo-tag.png' %}" style="padding-top:2.5em; float:right; width:150px; height:50px;" alt="Powered by Open edX"></a>

          </li>
        </ul>
      </nav>
    </div>
  </footer>
</div>


  </div>

  <script>window.baseUrl = "/static/";</script>
    
    <script type="text/javascript" src="{% static 'js/lms-application.js' %}" charset="utf-8"></script>


    
    <script type="text/javascript" src="{% static 'js/lms-modules.js' %}" charset="utf-8"></script>



  
  
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}" charset="utf-8"></script>


  <script type="text/javascript">
    $(document).ready(function() {
      edx.dashboard.legacy.init({
        dashboard: "/dashboard",
        signInUser: "/login",
        passwordReset: "/password_reset/",
        changeEmail: "/change_email",
        changeEmailSettings: "/change_email_settings",
        changeName: "/change_name",
        verifyToggleBannerFailedOff: "/verify_student/toggle_failed_banner_off",
      });
    });
  </script>





<div id="lean_overlay"></div><div id="reader-feedback" class="sr" style="display:none" aria-hidden="false" aria-atomic="true" aria-live="assertive"></div></body></html>
