<!DOCTYPE html>
{% load staticfiles %}

<html lang="en"><!--<![endif]--><head dir="ltr">
 
  

  <title></title>
  <meta charset="utf-8">
  <script type="text/javascript">
  </script>

  <link rel="icon" type="image/x-icon" href="https://www.iitbombayx.in/static/themes/iitbombayx-theme/images/favicon.22b053d5ddae.ico">

  
  




  
  

    <link href="{% static 'css/lms-style-app.css' %}" rel="stylesheet" type="text/css">



  
  

    



  <script>
    window.baseUrl = "/static/";
    (function (require) {
        var urlArgs = "v=14d3fa0";
      require.config({
          baseUrl: baseUrl,
          urlArgs: urlArgs
      });
    }).call(this, require || RequireJS.require);
  </script>

  

  


  
  

    

 


  <meta name="path_prefix" content="">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY">

  <script></script>



</head>

<body class="ltr  lang_en">
  <div class="window-wrap" dir="ltr">
    <a class="nav-skip" href="#content">Skip to this view's content</a>

    

<style>

</style>

 
 <header class="global " aria-label="Global Navigation">
    <nav>
    <h1 class="logo">
      <a href="https://iitbombayx.in/">
        
  <img src="{% static 'images/swayamlogo_header.png' %}" alt="Home Page" height="50">

      </a>
    </h1>
{% block header_block %}
<ol class="left nav-global authenticated">
<li class="nav-global-01">
<a href = "{% url 'ccourses' %}">Course Enrollment</a>
</li>
{% if role_id <= 3 %}

<li class="nav-global-01">
<a href = "/dash/">Team Management</a>
</li>

<li class="nav-global-01">
<a href = "{% url 'allcourses' %}">Find course</a>
</li>
{% endif %}
</ol>
<ol class="right nav-courseware">


    <li class="nav-courseware-01">
   
	<button  onclick="location.href='/logout'" >Log out</button>
          </li>
      
    </ol>
{% endblock %}

  </nav>
</header>



      
    </b></div>

{% block body_block %}{% endblock %}    


</b><div id="reader-feedback" class="sr" style="display:none" aria-hidden="false" aria-atomic="true" aria-live="assertive"></div></body></html>
