<!DOCTYPE html>
{% load staticfiles %}
<!--[if IE 7]><html class="ie ie7 lte9 lte8 lte7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en"><!--<![endif]--><head dir="ltr">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
  

  <title>Upload Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>

  <script type="text/javascript">
    /* immediately break out of an iframe if coming from the marketing website */
    (function(window) {
      if (window.location !== window.top.location) {
        window.top.location = window.location;
      }
    })(this);
  </script>

  <script type="text/javascript" src="{% static 'css/a' %}"></script>

  <link rel="icon" type="image/x-icon" href="https://www.iitbombayx.in/static/themes/iitbombayx-theme/images/favicon.22b053d5ddae.ico">

  
  

    <link href="{% static 'css/lms-style-vendor.css' %}" rel="stylesheet" type="text/css">



  
  

    <link href="{% static 'css/lms-style-app.css' %}" rel="stylesheet" type="text/css">



  
  

    <link href="{% static 'css/lms-style-app-extend1.css' %}" rel="stylesheet" type="text/css">



  
  

    <link href="{% static 'css/lms-style-app-extend2.css' %}" rel="stylesheet" type="text/css">




    
    <script type="text/javascript" src="{% static 'js/lms-main_vendor.js' %}" charset="utf-8"></script>



  <script>
    window.baseUrl = "/static/";
    (function (require) {
        var urlArgs = "v=14d3fa0";
      require.config({
          baseUrl: baseUrl,
          urlArgs: urlArgs
      });
    }).call(this, require || RequireJS.require);
  </script>
  <script type="text/javascript" src="{% static 'js/require-config-lms.js' %}"></script>

  

  

    <link href="{% static 'css/lms-style-course-vendor.css' %}" rel="stylesheet" type="text/css">




  

    <link href="{% static 'css/lms-style-course.css' %}" rel="stylesheet" type="text/css">






  
  

    


  <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.d5e37d8ee1a4.js"></script>
  <![endif]-->

  
  <!-- dummy segment.io -->
<script type="text/javascript">
  var analytics = {
    track: function() { return; },
    pageview: function() { return; }
  };
</script>
<!-- end dummy segment.io -->


  <meta name="path_prefix" content="">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY">

  <script></script>



</head>

<body class="ltr  lang_en">
  <div class="window-wrap" dir="ltr">
    <a class="nav-skip" href="#content">Skip to this view's content</a>

    
<!--[if IE]>
<div class="sr message-accessibility message" id="mathjax-accessibility-message" aria-hidden="true">
	<p class="copy">This page features MathJax technology to render mathematical formulae. To make math accessibile, we suggest using the MathPlayer plugin. Please visit the <a href="//www.dessci.com/en/products/mathplayer/download.htm">MathPlayer Download Page</a> to download the plugin for your browser.</p>
</div>
<div class="sr message-accessibility message" id="mathplayer-browser-message" aria-hidden="true">
	<p class="copy">
	 Your browser does not support the MathPlayer plugin. To use MathPlayer, please use Internet Explorer 6 through 9.
	 </p>
</div>
<![endif]-->


    












<!-- 22nd Sept 2014 Swayam GUI -->

<style>

</style>

 
 <header class="global " aria-label="Global Navigation">
<nav>
     <h1 class="logo">
          <a href="/"><img src="{% static 'images/swayamlogo_header.png' %}" alt="Home Page" height="50"></a>
     </h1>
     <ol class="left nav-global">
          <li class="nav-global-04">
          Information System for Blended MOOCs 
         </li>
     </ol>
</nav>
</header>




<section class="container">
  <div class="info-wrapper" style="width:fixed">

    <section class="updates">

    
      <section>
<br><br>

{% block data_block %}{% endblock %}
 <div><b>

</b></div></article></article></section>

</section><b>
    </b><b>

      



    <div class="content-wrapper" id="content">
<section aria-label="Handout Navigation" class="handouts treeview">
      <h1>Download Links</h1>
          <hr>

<br>
{% block my_block %}{% endblock %}
<br></hr>
<br>
</div>
  
    </section>



  </b></div><b>
</b></section><b>

      
    </b></div>

{% block body_block %}{% endblock %}    






<style>
.wrapper-footer{
padding-top:16px;

}

.wrapper-footer footer .references{
margin-top:0px;
}

.wrapper-footer footer .colophon .nav-colophon li a {
        border-bottom:none !important;
	color:#3D3E3F;
}

.wrapper-footer footer{
width:960px;
margin:auto;
}

</style>
<div class="wrapper wrapper-footer" style="width:auto;">
 <footer style="width:90%;">
    <div class="colophon" style="width:43%">
      <nav class="nav-colophon" style="margin-bottom:20px;">
   <ol>
          <li class="nav-colophon-01">         
 <a href="https://www.iitbombayx.in/" target=_blank>
<img border="0"  src="https://www.iitbombayx.in/static/themes/iitbombayx-theme/images/swayamlogo_footer.d0b4c54d012f.png" style="width:100px; height:60px;" alt="IITBombayX Logo">
</a>
          </li>
<li class="nav-colophon-01">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
<li class="nav-colophon-01"><br> 
<a href="http://www.it.iitb.ac.in/moodle/"><img border="0"  src="https://moodle.org/theme/image.php/moodleorgcleaned_moodleorg/theme_moodleorgcleaned/1436262404/moodle-logo" style="width:100px; height:34px;" alt="DBP's Moodle">
</a>
</li>
<li class="nav-colophon-01">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
<li class="nav-colophon-01"><br> <br>
<a href="http://www.it.iitb.ac.in/nmeict/home.html">T10KT-IITB NMEICT</a>
</li> 
<li class="nav-colophon-01">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
<!--
  <li class="nav-colophon-01">
 <a href="https://www.iitb.ac.in/" target=_blank>
<img border="0"  src="http://www.iitb.ac.in/sites/all/themes/touchm/logo.png" style="width:30px; height:50px;" alt="IIT Bombay">
</a>
          </li>-->
</nav>
</div>
<div class="references" style="width:50%;font-size:80%;"><p align=justify>The IITBombayX Blended MOOCs system combines the benefits of MOOCs on IITBombayX with the conventional teaching-learning process at the various partnering institutes. This system envisages the factoring of MOOCs marks in the grade computed for a student of that subject, in a regular degree program.
</p></div>
  </footer>
          </div>


  </b></div><b>

  <script>window.baseUrl = "/static/";</script>
    
    <script type="text/javascript" src="CS101.1x%20Course%20Info%20_%20IITBombayX_files/lms-application.js" charset="utf-8"></script>


    
    <script type="text/javascript" src="CS101.1x%20Course%20Info%20_%20IITBombayX_files/lms-modules.js" charset="utf-8"></script>



  
  <script type="text/javascript" src="CS101.1x%20Course%20Info%20_%20IITBombayX_files/jquery.js"></script>
  <script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $(".handouts").treeview({collapsed:true, unique:true/*, cookieId: "treeview-book-nav", persist: "cookie"*/});
    });
  </script>





</b><div id="reader-feedback" class="sr" style="display:none" aria-hidden="false" aria-atomic="true" aria-live="assertive"></div></body></html>
