{% extends 'base2.html' %}
{% load staticfiles %}
{% block body_block %}
<html>
<body> 

 <table border = "1" style="width:100%">
  <tr>
    <th>Roll_No</th>
    <th>Username</th>
    <th>Email-Id</th>
    <!--<th>Edit</th>
    <th>Save</th>-->
  </tr>
  <!--<tr align="center">
      {% for student in student_list %}
    <td><input id="myInput{{forloop.counter}}"  type="text" name="Roll_no" value="{{student.roll_no}}" readonly></td>
    <td><input id="myInput{{forloop.counter}}"  type="text" name="User_name" value="{{student.user_name}}" readonly></td>
    <td><input id="myInput{{forloop.counter}}"  type="text" name="Email_id" value="{{student.email}}" readonly></td>
   <!-- <td><a href="/downloadcsv" >Edit</a></td> 
    <td><input id="edit{{forloop.counter}}" onclick = "Edit()" type="submit" value="Edit" /></td>
    <td><input id="save{{forloop.counter}}" onclick = "Save()" type="button" value="Save" /></td>
 <!-- <td><input type="checkbox" name="student" value="selected"></td>
   {% endfor %}
  </tr>-->
   
  <!-- {% for i in info %}
  <form id = {{forloop.counter}} action='/parse' method='post'>{% csrf_token %}
   <tr align="center">
   {% for j in i %}
   <td>{{j}}</td>
   {% endfor %}
   <td><input id="edit" name = "edit"onclick = "Edit({{forloop.counter}})" type="button" value="Edit" /></td>
    <td><input id="save" name = "save" onclick = "Save({{forloop.counter}})" type="submit" value="Save" /></td>
    
   </tr>

   {% endfor %}
    <!--<td><input id="myInput4" type="text" name="User_name" value="Mohsin" readonly="true"></td>
    <td><input id="myInput5" type="text" name="Email_id" value="mohsin786@gmail.com" readonly="true"></td>
    <!--<td><a href="/downloadcsv" >Edit</a></td>-->
</table> 
<script>
function Edit(x) {
    alert("Edit Student Data"+x);
    document.getElementById(x).removeAttribute("readOnly");
    document.getElementById(x).removeAttribute("readOnly");
    document.getElementById(x).removeAttribute("readOnly");
    
};
</script>
<script>
function Save(x) {
    alert("Student Data Saved.");
    Redirect();
    /*document.getElementById('myinput').setAttribute("readOnly","readonly");
    document.getElementById('myInput1').setAttribute("readOnly","readonly");
    document.getElementById('myInput2').setAttribute("readOnly","readonly");*/
};

</script>
<br>
<br>
<!--<input class="cta cta-login" style="background-color:#EC5A1A;height:50px;width:200px;color:#FFFFFF;" type=button onClick="location.href='/downloadcsv'" value=' Downloadcsv'> -->
<button onclick="location.href='/downloadcsv'" value = 'Downloadcsv'>Download</button>
<!--<button onclick="location.href='/deleteStudent'" value = 'Downloadcsv'>Delete</button>-->
</form>
</body>
</html>
{% endblock %}
