{% extends 'base2.html' %}
{% block header %}
<h2>{{coursename}}({{institutename}})</h2>
{% endblock %}
{% block body_block %}

<html>
<header><h2>Substitute Teacher</h2></header>
<body>
<p>* All fields are mandatory!!</p>
<br>
{% if is_error %}
<table>
{% for error in errors %}
   <tr><td>{{error}}!!</td></tr>
{% endfor %}
</table>
<br>
{% endif %}
<form action = "/substituteteacher/" method="POST">{% csrf_token %}
<label for = "myInput1" >Enter Source Teacher Email</label>
<br><br>
<input id="myInput1" type="text" name="sourceemail" size = "50" value = "{{source}}" required>
<br>
<br>
<label for = "myInput2" >Enter Target Teacher Email</label>
<br>
<br>
<input id="myInput2" type="text" name="targetemail" size = "50" value = "{{target}}" required>
<br>
<br>
<br>
<input id="edit2" type="submit" name = "submit" value="Submit" />

</form>
</body>
</html>
{% endblock %}
