{% extends 'base2.html' %}
{% load staticfiles %}
{% block header %}
<header><h2>Students' Information {% ifequal role_id 5 %} {% else %} for {{teachername}}{% endifequal %} </h2></header>


{% endblock %}
{% block body_block %}
  
     {% for course in courses_list %}
   	<li class="course-item">
    	<article class="course">
        <a href="" class="cover">
        <img src="{{course.image}}" alt="Course Cover Image">
        </a>
 	<section class="info">
     	 <hgroup>
        <h2 class="university">IITBombayX</h2>
        <h3>
            <a href="">{{course.coursename}}</a>
        </h3>
	<h5> <a href="">({{course.courseid}})</a></h5>
      </hgroup>

<br><br>
<table   cellspacing="0" width="100%"  >  
    <tr><td > <a href="/coursedescription/{{course.courseid}}/{{pid}}/" class="enter-course">Course  Details         </a><br><br><br><br></td>
<td> <a href="/studentsinformation/{{course.courseid}}/{{pid}}/" class="enter-course">Students' Details   </a></td></tr>
    
    <tr>{% if previousflag == 1 %}
          {% if role_id == 5 %}
     <td><center> <a href="/uploads_studentsinfo/2/{{course.courseid}}" class="enter-course">Upload Students' Info  </a><br><br><br><br></td>
     {% endif %}{% endif %}
     </center></tr>
     <tr>
     <td><Center><h2>Assignments Report</h2></center></td> 
     </tr>
{% if previousflag == 1 %}
 <tr> <td> <a href="/evaluation/{{course.courseid}}/{{pid}}/{{institute.instituteid}}/0" class="enter-course">Marks per Problem</a><br><br><br><br></td> <td ><a href="/evalstatus/{{course.courseid}}/{{pid}}/{{institute.instituteid}}/0" class="enter-course">Students who Attempted</td>   

    </tr>{% endif %}
                <tr>
    <td> <a href="/grades/{{course.courseid}}/{{pid}}/{{institute.instituteid}}/" class="enter-course">Summary of Marks</a></td>
     </tr>

      </table>
        
      </section>
     
</article>

</li>
		{% endfor %}        
            
          <h4 style="color:red">{{message}}</h4>      
      {% endblock %}      
            








