{% extends 'base2.html' %}
{% block body_block %}
<html>
<head>
	<script type="text/javascript" src="jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="funcoes.js"></script>
        <!--<script type = "text/javascript" src = "{% static 'js/jquery-1.7.2.min.js' %}"></script>
	<!--<link rel="stylesheet" type="text/css" href="estilo.css"/>-->
</head>
<body> 
<table id="student">			
			<thead>
				<tr>
					<th>Roll_no</th>
					<th>Username</th>
					<th>Email</th>
					<th>Select</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>12UCS037</td>
					<td>mohsin</td>
					<td>mohsin@email.com</td>
					<td><img src="images/pencil.png"/ class="btnEdit"></td>
				</tr>
			</tbody>
		</table>
</body>
</html>
{% endblock %}
