{% load staticfiles %}
<html>

<div class="note" id="(Untitled)">
<script type="text/javascript" src="{% static 'js/jquery-2.1.1.js' %}">
$(function () {
            $('#1').on('click', function () {
                        $.ajax({
                            type: "POST",
                            url: "~/pythonscript.py",
                            datatype: "json",
                            data: JSON.stringify({
                                'param': {
                                    "1"
                                }
                            }),
                            success: function (response) {
                                alert(response);
                            }
                        })
                    }
                    $('#2').on('click', function () {
                            $.ajax({
                                type: "POST",
                                url: "/print",
                                datatype: "json",
                                data: JSON.stringify({
                                    'param': {
                                        "2"
                                    }
                                }),
                                success: function (response) {
                                    alert(response);
                                }
                            })
                        }
                        )
</script>

   <body>
         <a href="index2.html">
        <button id="1">one</button><br>
        <button id="2">two</button><br>
        </a>
   </body>
</html>
