{% extends 'test.html' %}

{% block heading %}

<h2> CHOOSE PROGRAM COORDINATOR </h2>
{% endblock %}

{% block hyperlink %}
<li class="nav-global-01">
<a href = "{% url 'ccourses' hoi.id %}">Course Enrollment</a>
<li>
<li class="nav-global-01">
<a href = "{% url 'team' hoi.id %}">Team Management</a>
</li>
{% endblock %}

{% block name %}{{hoi.firstname}} {{hoi.lastname}}
{% endblock %}

{% block email %}{{hoi.email}}
{% endblock %}



{% block body_block %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


  <script type="text/javascript">
    /* immediately break out of an iframe if coming from the marketing website */
    (function(window) {
      if (window.location !== window.top.location) {
        window.top.location = window.location;
      }
    })(this);
  </script>

  <script type="text/javascript" src="/jsi18n/"></script>

  <link rel="icon" type="image/x-icon" href="/static/themes/iitbombayx-theme/images/favicon.22b053d5ddae.ico" />
  

    <link href="/static/css/lms-style-vendor.a551063e5c64.css" rel="stylesheet" type="text/css" />
  

    <link href="/static/css/lms-style-app.2466d15f41ed.css" rel="stylesheet" type="text/css" /> 
  

    <link href="/static/css/lms-style-app-extend1.e40a4a2426e5.css" rel="stylesheet" type="text/css" />
  

    <link href="/static/css/lms-style-app-extend2.b8bd5a769f72.css" rel="stylesheet" type="text/css" />
   
    <script type="text/javascript" src="/static/js/lms-main_vendor.265944fb6b7d.js" charset="utf-8"></script>



  <script>
    window.baseUrl = "/static/";
    (function (require) {
        var urlArgs = "v=14d3fa0";
      require.config({
          baseUrl: baseUrl,
          urlArgs: urlArgs
      });
    }).call(this, require || RequireJS.require);
  </script>
  <script type="text/javascript" src="/static/require-config-lms.0e68842c5f58.js"></script>

  


  
  

    


  <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.d5e37d8ee1a4.js"></script>
  <![endif]-->

  
  <!-- dummy segment.io -->
<script type="text/javascript">
  var analytics = {
    track: function() { return; },
    pageview: function() { return; }
  };
</script>
<!-- end dummy segment.io -->


  <meta name="path_prefix" content="">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY" />

  <script></script>



</head>

<body class="ltr view-register lang_en">
  <div class="window-wrap" dir="ltr">
    <a class="nav-skip" href="#content">Skip to this view's content</a>


    












<!-- 22nd Sept 2014 Swayam GUI -->

<style>

</style>

 
<!--Bab Bharat MOOCs-->

<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});

(function() {


$('.message.is-expandable .wrapper-tip').bind('click', toggleExpandMessage);

$("#submit-lang").click(function(event, xhr) {

event.preventDefault();

$.post('/lang_pref/setlang/',

{"language": $('#settings-language-value').val()})

.done(

function(data){

// submit form as normal

$('.settings-language-form').submit();

}

);

});

})(this);


</script>



  




<script type="text/javascript">
  (function() {
    $(document).delegate('#pwd_reset_form', 'ajax:success', function(data, json, xhr) {
      if(json.success) {
        $("#password-reset").html(json.value);
      } else {
        if($('#pwd_error').length == 0) {
          $('#pwd_reset_form').prepend('<div id="pwd_error" class="modal-form-error">Email is incorrect.</div>');
        }
        $('#pwd_error').stop().css("display", "block");
      }
    });

    // removing close link's default behavior
    $('#login-modal .close-modal').click(function(e) {
     e.preventDefault();
    });

    var onModalClose = function() {
      $("#forgot-password-modal").attr("aria-hidden", "true");
      $("#forgot-password-link").focus();
    };
    
    var cycle_modal_tab = function(from_element_name, to_element_name) {
      $(from_element_name).on('keydown', function(e) {
          var keyCode = e.keyCode || e.which;
          var TAB_KEY = 9;  // 9 corresponds to the tab key
          if (keyCode === TAB_KEY) {
              e.preventDefault();
              $(to_element_name).focus();
          }
      });
    };
    $("#forgot-password-modal .close-modal").click(onModalClose);
    cycle_modal_tab("#forgot-password-modal .close-modal", "#pwd_reset_email");
    cycle_modal_tab("#pwd_reset_email", "#pwd_reset_button");
    cycle_modal_tab("#pwd_reset_button", "#forgot-password-modal .close-modal");

    // Hitting the ESC key will exit the modal
    $("#forgot-password-modal").on("keydown", function(e) {
        var keyCode = e.keyCode || e.which;
        // 27 is the ESC key
        if (keyCode === 27) {
            e.preventDefault();
            $("#forgot-password-modal .close-modal").click();
        }
    });

  })(this)
</script>


















    <div class="content-wrapper" id="content">
      

<!-- Bharat MOOCs 19th Sept 2014 LAnguage selection box added -->




<!--
#Bharat_Mooc
#Details : Added language settings 
-->
<script type="text/javascript"> 

 function myFunction()
{
    var valueSelected= String($('#settings-language-value').val());

    String.prototype.in = function() {
    for(var i=0; i<arguments.length; i++)
       if(arguments[i] == this) return true;
    return false;
}
   


   if (!valueSelected.in('en','hi','as','mr'))
      {
      divTxt= ' Not fully supported !  Will be implemented soon '
      document.getElementById('support').innerHTML = divTxt;
      }
   else
     $('#support').empty();

    
};

</script>
<!--
#Bharat_Mooc
-->











<!--BharatMooc 
#Date added: 18/08/2014
#Author: MOOC Dev Team
#Date modified : NA 
#Modified by : NA 
#Description : Added City,State,Pincode on registration page
-->











<!-- Bharat MOOCs 23rd Sept 2014 Formatting -->
<style>
.view-register .wrapper-footer footer .colophon-about img, .view-login
.wrapper-footer footer .colophon-about img {
    margin-top: 0px;
}

.content-wrapper{
padding-bottom:0px;
background:#F7F7F7 !important;
font-family: "Open Sans",Arial,Helvetica,sans-serif;
margin-top:76px;
}

header.global{
position:fixed;
top:0px;
}

.view-register .container{
background:#FFF;
}

header.global .nav-global li a{
color:#3D3E3F !important;
}

header.global .nav-global li a:hover{
color:#F7691F !important;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-autocomplete {
    background-color: rgba(236, 236, 236, 0.95);
    width: 300px;
    padding: 25px;
    height: 100px;
    border: 1px solid #222;
    margin: 5px;
    overflow: scroll;
 }
.ui-menu-item{
list-style-type: none;
}

.ui-menu-item a {
color: #222 !important;
}

</style>
<!------------------------------------------------------------------
-----------------------------------------------------------------------------------
------------------------------------------------------------------
--------------------------------------------------------------------------------------------------->
<section class="register container">  
<section role="main" class="content">
    <form role="form" id="myForm" method="post" data-remote="true" action="" novalidate autocomplete="off">
	{% csrf_token %}
     <!-- <input type="hidden" name="csrfmiddlewaretoken" value="nFt27sSy18E3Vilv670tVbh610EaUACY"> -->
      <!-- status messages -->



      <p class="instructions">
        Please fill the following details for choosing the Program Coordinator of your institute {{ institutename }}. <br />
        Required fields are noted by <strong class="indicator">bold text and an asterisk (*)</strong>.
      </p>


      <div class="group group-form group-form-requiredinformation">
        

        <ol class="list-input">
          <li class="field required text" id="field-email">
            <label for="email">Enter the Email Id of the Program Coordinator</label>
            <input class="" id="email" type="text" name="email" value="{{ email }}" required aria-required="true" placeholder="email123@sample.com" />
          </li>
		
	<br><br>
<style>
h1 {
  font-family: Helvetica;
  font-weight: 100;
}
body {
  color:#333;
	text-align:center;
}
</style>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="runnable.css" />
<script>
$(document).ready(
  
  /* This is the function that will get executed after the DOM is fully loaded */
  function () {
    $( "#datepicker" ).datepicker({
      changeMonth: true,//this option for allowing user to select month
      changeYear: true //this option for allowing user to select from year range
    }),$("#txtDate").datepicker({ dateFormat: 'yy-mm-dd' }),$("#fxtDate").datepicker({ dateFormat: 'yy-mm-dd' });
  }

);
</script>
	
		
	<li class="field required text" id="field-username">
            <label for="firstname" >Enter the First Name of Program Coordinator</label>
            <input type="text" name="firstname" value="{{ firstname }}"  required aria-required="true" aria-describedby="username-tip"/>
        </li>
	
	<br><br>

	<li class="field required text" id="field-username">
            <label for="lastname">Enter the Last Name of Program Coordinator</label>
            <input type="text" name="lastname" value="{{ lastname }}" required aria-required="true" aria-describedby="username-tip"/>
         </li>
		
	<br><br>


          <li class="field required text" id="field-name">
            <label for="name">Start date(yyyy-mm-dd)</label>
            <input id="txtDate" type="date" name="startdate" value="{{ startdate }}" placeholder="example: 2015-08-15" required aria-required="true" aria-describedby="name-tip" />
          </li>
	
	<br><br>

          <li class="field required text" id="field-username">
            <label for="username">End date(yyyy-mm-dd)</label>
            <input id="fxtDate" type="date" name="enddate" value="{{ enddate }}" placeholder="example: 2015-08-15" required aria-required="true" aria-describedby="username-tip"/>
          </li>
	<br>


  

	
	<br><br>
		<input type="button" value="Reset" onclick="document.getElementById('myForm').reset()"/>
  
		<input type="submit" name='submit' value="Submit" >
		

        </ol>

      </div>

      
    </form>
  </section>
</section>


<!--

<form method="post" action="." id="myForm">
{% csrf_token %}
       
 <table border="0">
        <tr>
  		<td>First Name</td>
		<td><input type = "text" name = "firstname" value = "{{ firstname }}"></td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td><input type = "text" name = "lastname" value = "{{ lastname }}"</td>
	</tr>
	<tr>
		<td>Email Id</td>
		<td><input type = "text" name = "email" value = "{{ email }}"</td>
        </tr>
  </table>
	
<br><br>
 
<input type="button" value="Reset" onclick="document.getElementById('myForm').reset()"/>
  
<input type="submit" value="Submit" />
</form>

-->


 
{% endblock %}
