{% extends 'test.html' %}

{% block heading %}

<h2> TEAM MEMBER DETAILS </h2>
{% endblock %}


{% block hyperlink %}
<li class="nav-global-01">
<a href = "{% url 'ccourses' viewer.id %}">Course Enrollment</a>
<li>
<li class="nav-global-01">
<a href = "{% url 'team' viewer.id %}">Team Management</a>
</li>
{% endblock %}


{% block name %}{{viewer.firstname}} {{viewer.lastname}}
{% endblock %}

{% block email %}{{viewer.email}}
{% endblock %}

{% block body_block %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		
		
		<p align="right"><a href="{% url 'headhome' viewer_pid %}">Home</a></p><br>
		<p align="right"><a href="{% url 'pc' viewer_pid %}">Add Team Member</a></p><br><br>
	
	
 <table border="1">
        <tr>
		<td align="justify"  valign="middle">	<font color="red">ROLE</font>	<br></td>
  		<td align="justify"  valign="middle">	<font color="red">FIRST NAME</font>	<br></td>
		<td align="justify"  valign="middle">	<font color="red">LAST NAME</font>	<br></td>
		<td align="justify"  valign="middle">	<font color="red">EMAIL ADDRESS</font>	<br></td>
		<td align="justify"  valign="middle">	<font color="red">BM SUBJECT</font>	<br></td>
		<td align="justify"  valign="middle">	<font color="red">STARTDATE</font>	<br></td>
		<td align="justify"  valign="middle">	<font color="red">END DATE</font>	<br></td>
	</tr>

{% for members in team1 %}
 
	<tr>
		<td align="justify"  valign="middle"><font color="blue">{{ members.roleid.description }}</font></td>
		<td align="justify"  valign="middle">{{ members.personid.firstname }}</td>
		<td align="justify"  valign="middle">{{ members.personid.lastname }}</td>

			<!Email Hyperlink>


			<td align="justify"  valign="middle"><a href = "{% url 'sendmail' viewer_pid members.personid.id %}">{{ members.personid.email }}</a></td>

	{% if not ' ' in members.courseid and members.courseid %}
		<td align="justify"  valign="middle"><font color="green">{{ members.courseid }}</font></td>
	{% else %}
		<td align="justify"  valign="middle"></td>
	{% endif %}

		<td align="justify"  valign="middle">{{ members.startdate|date:"d-m-Y" }}</td>
		<td align="justify"  valign="middle">{{ members.enddate|date:"d-m-Y" }}</td>

{% endfor %}

{% for members in team2 %}
 
	<tr>
		<td align="justify"  valign="middle"><font color="blue">{{ members.roleid.description }}</font></td>
		<td align="justify"  valign="middle">{{ members.personid.firstname }}</td>
		<td align="justify"  valign="middle">{{ members.personid.lastname }}</td>
			
			<!Email Hyperlink>
			
			<td align="justify"  valign="middle"><a href = "{% url 'sendmail' viewer_pid members.personid.id %}">{{ members.personid.email }}</a></td>

	{% if not ' ' in members.courseid and members.courseid %}
		<td align="justify"  valign="middle"><font color="green">{{ members.courseid }}</font></td>
	{% else %}
		<td align="justify"  valign="middle"></td>
	{% endif %}

		<td align="justify"  valign="middle">{{ members.startdate|date:"d-m-Y" }}</td>
		<td align="justify"  valign="middle">{{ members.enddate|date:"d-m-Y" }}</td>

{% endfor %}
		
        </tr>
  </table>
	
<br><br>

 
{% endblock %}
