{% extends 'base2.html' %}
{% load inplace_edit %}
{% load i18n inplace_edit inlinetrans %}
{% block title %}{% trans "Details of a resources" %}{% endblock %}
{% block body_block %}

<html>
<body> 
 <table border = "1"width="100%">
  <tr align = "center">
    <th>Roll_No</th>
    <th>Username</th>
    <th>Email-Id</th>
  </tr>
  {% for student in info %}
  <tr align = "center">
    <td>{{student.roll_no}}</td>
    <td>{{student.username}}</td>
    <td>{{student.email}}</td>
  </tr>
 {% endfor %}

  <!-- <tr align = "center">
    <td>101</td>
    <td>Mohsin</td>
    <td>mohsin@gmail.com</td>
  </tr>-->
</table> 
<br>
<br>
<!--<input class="cta cta-login" style="background-color:#EC5A1A;height:50px;width:200px;color:#FFFFFF;" type=button onClick="location.href='/downloadcsv'" value=' Downloadcsv'> -->
<button onclick="location.href='/downloadcsv'" value = 'Downloadcsv'>Download</button>
<!--<button onclick = "download()" value = 'Downloadcsv'>Download</button>-->
<script>
function download()
{
   alert("Your file is downloaded");
   window.location = '/downloadcsv';
};
</script>
</body>
</html>
{% endblock %}
