{% extends 'student/mybase.html' %}
{% load staticfiles %}
{% block body_block %}


<head>

  <title>Upload Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
</head>

<body>


<div class="container">
<div class="table-responsive">
  	
  <table  class="table table-striped" >
    <thead>
      <tr>
        <th class="col-sm-1">Roll No</th>
        <th class="col-sm-3">Email</th>
        <th class="col-sm-2">Username</th>
        <th class="col-sm-1">Grade</th>
	{% for m in quiz %}
	<th class="col-sm-1">Quiz{{m}}</th>
	{% endfor %}
	<th class="col-sm-1">Average</th>
      </tr>
    </thead>
    <tbody>
        {% for m in pdata %}
          <tr>
	   	{% for n in m %}
            	<td>{{n}}</td>
		{% endfor %}
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
</div>


{% endblock %}
{% block my_block %}
<h2> &nbsp &nbsp &nbsp   <a href="/report/download">Performance Report </a></h2>
{% endblock %}

{% block data_block %}
<h2><center><b>Students Performance Report</b></center></h2><br>
<pre>
  <h3> Course Name:	{{coursename}}<br>
 Teacher Name:	{{teachername}}<br>
 Total Students:  {{totalstudents}}</h3></pre>
{% endblock %}



