<html>
<body>
<table>
<tr>
<td>
<input id="myInput"  type="text" value="skjejdi" readonly="readonly" /><br /></td>
</tr>
<tr>
<td>
<input id="myInput1"  type="text" value="skjejdi" readonly="readonly" /><br /></td>
</tr>
</table>
<input id="myButton" type="submit" value="update" />
<script>
document.getElementById('myButton').onclick = function() {
    alert("Hello");
    document.getElementById('myInput').removeAttribute('readonly');
    document.getElementById('myInput1').removeAttribute('readonly');
};
</script>
</body>
</html>
