{% extends 'student/base2.html' %}
{% block body_block %}

<html>
<body>
<form action = "/updatestudent/{{pid}}/{{course}}/" method="POST">{% csrf_token %}
<table border = "1">
<tr>
<td>Username</td><td><input id="myInput" type="text" name="username" value={{info.userid.username}} readonly></td></tr>
<tr>
<td>Email-Id</td><td><input id="myInput" type="text" name="email" value={{info.userid.email}} readonly></td></tr>
<tr>
<td>Roll_No</td><td><input id="myInput" type="text" name="roll_no" value={{info.roll_no}}></td></tr>
</table>
<br>
<br>
<br>
<input id="edit2" type="submit" name = "submit" value="Save" />
</form>
</body>
</html>
{% endblock %}
