{% extends 'mybase.html' %}
{% block body_block %}

<html lang="en">
<head>
  <title>Upload Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<h2><center>Upload Report</center></h2>
{% if errorreport %}
<div class="container">
    
  <h4> Course Name: </h4>
  <h4> Teacher Name: </h4>



<h4>Status of Uploaded File: </h4>

<p align="center">Total records = {{totalrecords}}</p>
<p align="center">Valid Records = {{validcount}}   <a href="/us/downloadcsv/{{1}}">Download </a></p>
<p align="center"> Invalid Records = {{invalidcount}}   <a href="/us/downloadcsv/{{2}}">Download </a></p> 
<p> <br> </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Record No</th>
        <th>Roll No</th>
        <th>Username</th>
        <th>Email</th>
        <th>Message</th>

      </tr>
    </thead>
    <tbody>
        {% for error  in errorreport %}
          <tr>
            <td>{{error.recordno}}</td>
            <td>{{error.roll_no}}</td>
            <td>{{error.user_name}}</td>
            <td>{{error.email}}</td>
            <td>{{error.errorcode.error_message}}</td>
            
          </tr>
        {% endfor %}
    </tbody>
  </table>

</div>

{% endif %}
<!--
<html>
<head>
<link rel="stylesheet" type="text/css" href="base.css">
</head>
<body>
{% if errorreport %}
    <ul>
    {% for error  in errorreport %}
        {{error.email}}
	{{error.user_name}}
    {% endfor %}
    </ul>
{% else %}
    <p>No errors.</p>
{% endif %}

<a href = "http://127.0.0.1:8000/upload" target="_self"><h1>Go to Previous Page<h1></a>
</body>-->
</html>
{% endblock %}
