{% extends 'student/mybase.html' %}
{% load staticfiles %}
{% block body_block %}


<head>

  <title>Upload Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
</head>
<body>

<!--<h2><center>Upload Report</center></h2>
{% if errorreport %}


    
  <h4> Course Name: </h4>
  <h4> Teacher Name: </h4>
<p>Status of {{filename}} file</p>
<p>Total records = {{totalrecords}}</p>
<p> Valid Records = {{validcount}}  </p>
<p> Invalid Records = {{invalidcount}} </p> -->
<div class="container">
<div class="table-responsive">
  	
  <table  class="table table-striped" >
    <thead>
      <tr>
        <th class="col-sm-2">Record No</th>
        <th class="col-sm-2">Roll No</th>
        <th class="col-sm-3">Username</th>
        <th class="col-sm-4">Email</th>
        <th class="col-sm-4">Message</th>

      </tr>
    </thead>
    <tbody>
        {% for error  in errorreport %}
          <tr>
            <td>{{error.recordno}}</td>
            <td>{{error.roll_no}}</td>
            <td>{{error.username}}</td>
            <td>{{error.email}}</td>
            <td>{{error.errorcode.error_message}}</td>
            
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endif %}
{% endblock %}
{% block my_block %}
<p> &nbsp &nbsp &nbsp   <a href="/downloadcsv/1">valid records </a></p>
<p> &nbsp &nbsp &nbsp   <a href="/downloadcsv/2">invalid records </a></p> 

{% endblock %}

{% block data_block %}
<h2><center>Upload Report</center></h2>
{% if errorreport %}


    
  <h4> Course Name: </h4>
  <h4> Teacher Name: </h4>
<p>Status of {{filename}} file</p>
<p>Total records = {{totalrecords}}</p>
<p> Valid Records = {{validcount}}  </p>
<p> Invalid Records = {{invalidcount}} </p> 
{% endif %}
{% endblock %}


<!--
<html>
<head>
<link rel="stylesheet" type="text/css" href="base.css">
</head>
<body>
{% if errorreport %}
    <ul>
    {% for error  in errorreport %}
        {{error.email}}
	{{error.user_name}}
    {% endfor %}
    </ul>
{% else %}
    <p>No errors.</p>
{% endif %}

<a href = "http://127.0.0.1:8000/upload" target="_self"><h1>Go to Previous Page<h1></a>
</body>-->



