{% extends 'allcourses_base.html' %}
{% load staticfiles %}
{% block body_block %}
{% for a in allcourses %}
<div class="view_row_course">		
						<div class="right_course_view_fieldset">
							<div class="image">
<!-- Bharat MOOCs 19th Sept 2014 Added href for opening course link -->
								<a href="/IITBombayX/{{a.course}}/{{a.year}}/"><img class="image_style_none" title="{{ a.coursename }}" alt="{{ a.coursename }}" src="/{{a.image}}" height="136" width="265"></a>
							</div>
							<div class="action">
<!-- Bharat MOOCs 19th Sept 2014 Added href for opening course link -->
							<a href="/IITBombayX/{{a.course}}/{{a.year}}/" style="text-decoration:none;">Learn More</a>
							</div>
						</div>					
						
						<div class="left_course_view_fieldset">
							<div class="new_course_ribbon">	
							<!--img src="images/courses/course-status-new.png"-->		
							</div>								
<!-- Bharat MOOCs 19th Sept 2014 Added href for opening course link -->
							<div class="top_view_fieldset">
								<h2 class="title_course_title">
								{{ a.course }}:&nbsp;<strong style="text-transform:none;"><a href="/IITBombayX/{{a.course}}/{{a.year}}/" style="text-decoration:none;">{{ a.coursename }}</a></strong>
								</h2>
								<div class="course_sub_title">
							      {{ a.coursesubtitle }}									
								</div>
							</div>
							
							<div class="bottom_view_fieldset">			
								<ul class="clearfix">
								<li class="first">
								<span class="label">Starts:</span>
										{{ a.coursestart }}
								</li>
								<li>
									<span class="label">Instructor:</span>
<!-- Bharat MOOCs 19th Sept 2014 Display name of first instructor only instead of entire list -->
									{{ a.instructor }}
								</li>
								<li>
									<strong class="college_name">{{ a.org }}</strong>
								</li>
								</ul>
							</div>
						</div>
					</div>
					<!--first course ENDs -->
{% endfor %}
{% endblock %}
