<!DOCTYPE html>
{% load staticfiles %}
<html lang="en"><!--<![endif]--><head dir="ltr">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>
       {{ course.coursename }} | IITBombayX
      </title>
    <script type="text/javascript">
    /* immediately break out of an iframe if coming from the marketing website */
    (function(window) {
      if (window.location !== window.top.location) {
        window.top.location = window.location;
      }
    })(this);
  </script>
  <script type="text/javascript" src="enrollmentclosed_files/a"></script>
  <link rel="icon" type="image/x-icon" href="https://iitbombayx.in/static/themes/iitbombayx-theme/images/favicon.22b053d5ddae.ico">
    <link href="{% static 'css/lms-style-vendor.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lms-style-app.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lms-style-app-extend1.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lms-style-app-extend2.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'js/lms-main_vendor.js' %}" charset="utf-8"></script>
  <script>
    window.baseUrl = "/static/";
    (function (require) {
        var urlArgs = "v=14d3fa0";
      require.config({
          baseUrl: baseUrl,
          urlArgs: urlArgs
      });
    }).call(this, require || RequireJS.require);
  </script>
  <script type="text/javascript" src="{% static 'css/require-config-lms.js' %}"></script>
  <script></script>
  <meta property="og:title" content="{{ course.coursename }}">
  <meta property="og:description" content="{{ course.coursename }}">
<script type="text/javascript">
  var analytics = {
    track: function() { return; },
    pageview: function() { return; }
  };
</script>
  <meta name="path_prefix" content="">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY">
  <script></script>
</head>
<body class="ltr  lang_en">
  <div class="window-wrap" dir="ltr">
    <a class="nav-skip" href="#content">Skip to this view's content</a>
<style>
</style>
 <header class="global slim" aria-label="Global Navigation">
    <nav>
    <h1 class="logo">
      <a href="https://iitbombayx.in/">
          <img src="{% static 'images/swayamlogo_header.png' %}" alt="Home Page" height="50">
      </a>
    </h1>
    <h2><span class="provider">{{ course.org }}:</span> {{ course.course }} {{ course.coursename }}</h2>
{% block header_block %}
<ol class="left nav-global authenticated">
		<li class="nav-global-01">
<a href = "{% url 'ccourses' %}">Course Enrollment</a>
</li>
{% if role_id <= 4 %}
<li class="nav-global-01">
<a href = "/dash">Team Management</a>
</li>
{% endif %}
<li class="nav-global-01">
<a href = "{% url 'allcourses' %}">Find course</a>
</li>
    </ol>
<ol class="right nav-courseware">
    <li class="nav-courseware-01">
   	<button onclick="location.href='/logout'" >Log out</button>
          </li>
          </ol>
{% endblock %}
  </nav>
</header>

<!--Bab Bharat MOOCs-->

<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
(function() {
$('.message.is-expandable .wrapper-tip').bind('click', toggleExpandMessage);
$("#submit-lang").click(function(event, xhr) {
event.preventDefault();
$.post('/lang_pref/setlang/',
{"language": $('#settings-language-value').val()})
.done(
function(data){
// submit form as normal
$('.settings-language-form').submit();
}
);
});
})(this);
</script>
    <div class="content-wrapper" id="content">
<style>
body{
 font-family: "Open Sans",Arial,Helvetica,sans-serif;
 background:#F7F7F7;
 margin:0px;
 height:auto;
 line-height:1.5em;
 font-size:16px; 
}
.course-info header.course-profile {
	background:none;
}
.course-info .container nav a:first-child, .course-info section.outside-app nav a:first-child{
font-size:22px;
}
header.global{
position: fixed;
top:0px;
z-index;50;
}

.content-wrapper{
margin-top:76px;
}

.course-info .container, .course-info section.outside-app {
padding-bottom: 20px;
}

</style>
<section class="course-info">
  <header class="course-profile">
    <div class="intro-inner-wrapper">
      <div class="table">
      <section class="intro">
        <hgroup>
          <h1>
            {{ course.coursename }}

            </h1>
        </hgroup>

{% if open %}
<div class="main-cta">
<a class="register" href="/enrollfinal/{{ course.courseid }}">Enroll for this course</a>
</div>
{% endif %}
{% if closed %}
<div class="main-cta">
<span class="register disabled">
Enrollment is closed
</span>
</div>
{% endif %}
{% if enrolled %}
<div class="main-cta">
<span class="register disabled">
Your institute is registered for this course
</span>
</div>
{% endif %}

      </section>
      <a href="#video-modal" class="media" rel="leanModal">
        <div class="hero">
          <img src="/{{course.image}}" alt="{{course.image}}">                          
          <div class="play-intro"></div>
        </div>
      </a>
    </div>
      </div>
  </header>

  <section class="container">
   

    <section class="course-sidebar">
      <section class="course-summary">
        <ol class="important-dates">
          <li class="important-dates-item"><i class="icon icon-info-sign"></i><p class="important-dates-item-title">Course Number</p><span class="important-dates-item-text course-number">{{ course.course }}</span></li>
            <li class="important-dates-item"><i class="icon icon-calendar"></i><p class="important-dates-item-title">Classes Start</p><span class="important-dates-item-text start-date">{{ course.coursestart }}</span></li>
            <li class="important-dates-item">
                <i class="icon icon-calendar"></i>
                <p class="important-dates-item-title">Classes End</p>
                <span class="important-dates-item-text final-date">
                        {{ course.courseend }}
                </span>
            </li>
        </ol>
      </section>
   </section>
<!---------------------------------------------------------------------->
<h3>Grade criteria of this course</h3>
<br>
<section class="course-sidebar" align="right">
      <section class="course-summary">
       
	
        <ol class="important-dates">
          <li class="important-dates-item"><p class="important-dates-item-title">Grade</p><span class="important-dates-item-text final-date">
                       <span class="important-dates-item-title">Cutoff marks</span></span></li>
		{% for a in gradelist %}
		<li class="important-dates-item">
                <p class="important-dates-item-title"><span class="important-dates-item-text final-date">{{ a.grade }}</span></p>
		<span class="important-dates-item-text final-date">
                       <span class="important-dates-item-text final-date">{{ a.cutoffs }}%</span></span>
            </li>
		{% endfor %}

        </ol>
      </section>


    </section>
<!---------------------------------------------------------------------------------------------------------------->

<h3>Grade policy of this course</h3>
<br>
<section class="course-sidebar" align="right">
      <section class="course-summary">
	
        <ol class="important-dates">
          <li class="important-dates-item"><p class="important-dates-item-title">Type</p><span class="important-dates-item-text final-date">
                       <span class="important-dates-item-title">Count</span></span>
			<span class="important-dates-item-text final-date">
                       <span class="important-dates-item-title">Weightage</span></span>
			<span class="important-dates-item-text final-date">
                       <span class="important-dates-item-title">Drop count</span></span></li>
		{% for a in typelist %}

                <li class="important-dates-item">
                <p class="important-dates-item-title"><span class="important-dates-item-text final-date">{{ a.type }}</span></p>
		<span class="important-dates-item-text final-date">
                       <span class="important-dates-item-text final-date">{{ a.min_count }}</span></span>
		<span class="important-dates-item-text final-date">
                       <span class="important-dates-item-text final-date">{{ a.weight }}</span></span>
			<span class="important-dates-item-text final-date">
                       <span class="important-dates-item-text final-date">{{ a.drop_count }}</span></span>
            </li>
		{% endfor %}
        </ol>
      </section>
    </section>
<!---------------------------------------------------------------------------------------------------------------->
  </section>
</section>
<section id="video-modal" class="modal video-modal">
  <div class="inner-wrapper">
    <iframe src="" allowfullscreen="" frameborder="0" height="315" width="560"></iframe>
  </div>
</section>
    </div>
<style>
.wrapper-footer{
padding-top:16px;

}

.wrapper-footer footer .references{
margin-top:0px;
}

.wrapper-footer footer .colophon .nav-colophon li a {
        border-bottom:none !important;
	color:#3D3E3F;
}

.wrapper-footer footer{
width:960px;
margin:auto;
}

</style>

<div class="wrapper wrapper-footer" style="width:auto;">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon" style="margin-bottom:20px;">
      <ol>
          <li class="nav-colophon-01">
          <a id="about" href="https://iitbombayx.in/about">
              About
          </a>
          </li>
	  <!-- Bharat MOOCs -->
          <li class="nav-colophon-02" style="color:#565656;">
          <a id="news" href="http://news.iitbombayx.in/" target="_blank">
              News
          </a>
          </li>
          <li class="nav-colophon-03" style="color:#565656;">
          <a id="blog" href="http://blogs.iitbombayx.in/" target="_blank">
              Blog
          </a>
          </li>
          <li class="nav-colophon-04" style="color:#565656;">
          <a id="faq" href="https://iitbombayx.in/faq">
              FAQ
          </a>
          </li>
          <li class="nav-colophon-05" style="color:#565656;">
          <a id="contact" href="https://iitbombayx.in/contact">
              Contact Us
          </a>
          </li>
      </ol>
      </nav>

      <div class="colophon-about">
<!-- Bharat MOOCs-->
        <img src="{% static 'images/swayamlogo_footer.png' %}" style="width:auto; height:auto;" alt="IITBombayX Logo">

        <p style="text-align:justify; color:#565656;">IITBombayX offers 
interactive online classes and MOOCs. Subjects from multiple disciplines
 are presently offered, as can be seen in the list of courses. This list
 will expand later. IITBombayX is a non-profit online platform created 
with funding from National Mission on Education through Information and 
Communication Technology (NME-ICT), Ministry of Human Resource 
Development (MHRD), Government of India (GoI).</p> 
      </div>
    </div>

    <div class="references">
      <nav class="nav-social">
        <ul>
          <li class="nav-social-02">
            <a href="https://www.facebook.com/iitbombayx" target="_blank" rel="external">
              <img src="{% static 'images/ico-social-facebook.png' %}" alt="edX on Facebook">
            </a>
          </li>
          <li class="nav-social-03">
            <a href="https://twitter.com/iitbombayx" target="_blank" rel="external">
              <img src="{% static 'images/ico-social-twitter.png' %}" alt="edX on Twitter">
            </a>
          </li>
          <li class="nav-social-04">
            <a href="https://plus.google.com/u/0/113536343441190768869" target="_blank" rel="external">
              <img src="{% static 'images/ico-social-google.png' %}" alt="edX on Google+">
            </a>
          </li>
        </ul>
      </nav>
      <nav class="nav-legal">
        <ul style="display:block;float:right;text-align:right;">
          <li class="nav-legal-01" style="display:block;">
		<style>.wrapper-footer footer .references .nav-legal .nav-legal-01 a:after {content:none;}</style>
            <a style="display: inline-block;" href="https://iitbombayx.in/tos" target="_blank">Terms of Service and Honour Code</a>
          </li>
          <li class="nav-legal-02" style="display:block;">
            <a style="display: inline-block;" target="_blank" href="https://iitbombayx.in/privacy">Privacy Policy</a>
          </li>
          <li class="nav-legal-03" style="display:block; float:right;">	
		 <style>.wrapper-footer footer .references .nav-legal .nav-legal-03 a:hover{border-bottom:0px;}</style> 
            <a style="display: inline-block; " href="http://openedx.org/" target="_blank"><img src="{% static 'images/edx-openedx-logo-tag.png' %}" style="padding-top:2.5em; float:right; width:150px; height:50px;" alt="Powered by Open edX"></a>

          </li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
  </div>
  <script>window.baseUrl = "/static/";</script>
        <script type="text/javascript" src="{% static 'js/lms-application.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/lms-modules.js' %}" charset="utf-8"></script>
  <script src="enrollmentclosed_files/course_info.js"></script>
<div id="lean_overlay"></div><div id="reader-feedback" class="sr" style="display:none" aria-hidden="false" aria-atomic="true" aria-live="assertive"></div></body></html>
