{% extends 'base2.html' %}
{% block heading %}<h2>ENROLLED COURSE</h2>
{% endblock %}
{% block header_block %}
<ol class="left nav-global authenticated">
		<li class="nav-global-01">
<a href = "{% url 'ccourses' %}">Course Enrollment</a>
</li>
<li class="nav-global-01">
<a href = "{% url 'dash' %}">Team Management</a>
</li>
<li class="nav-global-01">
<a href = "{% url 'allcourses' %}">Find course</a>
</li>
    </ol>
<ol class="right nav-courseware">
    <li class="nav-courseware-01">
   	<button onclick="location.href='/logout'" >Log out</button>
          </li>
          </ol>
{% endblock %}
{% block header %}
<header>
<h2>Course Enrolled</h2>
</header>
{% endblock %}
{% block body_block %}
<style>
form
{
    align:"center";
}
</style>
<p align="center">You have successfully enrolled your institute {{ institutename }} for the course {{ coursename }}.</p>
<p align="center">Thank you for enrolling !</p>
<p align="center">Would you like to manage your institute's team for this course now ?</p>
<br>
<form action="/enrolled/" method="post" style="align:center;">{% csrf_token %}
<p align="center"><a href="{% url 'dash' %}">Yes, I want to do it now</a></p><br><br>
<p align="center"><a href="{% url 'ccourses' %}">No, I will do it later</a></p>
</form>
{% endblock %}
