{% extends 'base2.html' %}
{% load staticfiles %}
        <li class="info--username">
          <span class="title">Full Name </span> <span class="data">{{ firstname }} {{ lastname }}</span>
        </li>
        <li class="info--email">
          <span class="title">Institute Name
           
          </span> <span class="data">{{ institutename }}</span>
        </li>
{% block body_block %}
<br>
<h2 align="center" style = "color : red">Enrolled Courses</h2>
<br>
{% if not courselist %}
<h3 align="center">Your institute has not participated in any courses yet.</h3>
{% endif %}
{% for a in courselist %}
<li class="course-item">
    <article class="course">
    <a  class="cover">
       <img src="{{a.image}}" alt="{{ a.course }} {{ a.coursename }} Cover Image">         <!-----image ------>
      </a>
    <section class="info">
      <hgroup>
        <p class="date-block">
        Course Started - {{ a.coursestart }}
        </p>
        <h2 class="university">{{ a.org }}</h2>
        <h3>
            <a href="/teacherslist/{{ a.courseid }}/">{{ a.course }} {{ a.coursename }}</a>
        </h3>
      </hgroup>
        
  </section>
</article>
</li>
 <script>
           $( document ).ready(function() {

               if("False" == "True"){
                   $( "#unregister_block_course" ).click(function() {
                       $('.disable-look-unregister').click();
                   });
               }
           });
 </script>
{% endfor %}
{% if unenrollarchivedcourse or unenrollcurrentedxcourse %}
<br><hr style = "background-color : #E6763B;">
<h2 align="center" style = "color : red">Other Courses</h2><hr>
<br>
{% if  unenrollcurrentedxcourse %}
<header>
      <h2>Current Courses:</h2>
    </header>
{% for a in unenrollcurrentedxcourse %}
<li class="course-item">
    <article class="course">
    <a  class="cover">
       <img src="{{a.image}}" alt="{{ a.course }} {{ a.coursename }} Cover Image">         <!-----image ------>
      </a>
    <section class="info">
      <hgroup>
        <p class="date-block">
        Course Started - {{ a.coursestart }}
        </p>
        <h2 class="university">{{ a.org }}</h2>
        <h3>
            <a href="/teacherslist/{{ a.courseid }}/">{{ a.course }} {{ a.coursename }}</a>
        </h3>
      </hgroup>
        
  </section>
</article>
</li>
 <script>
           $( document ).ready(function() {
               if("False" == "True"){
                   $( "#unregister_block_course" ).click(function() {
                       $('.disable-look-unregister').click();
                   });
               }
           });
 </script>
{% endfor %}
{% endif %}
{% if unenrollarchivedcourse %}
<header>
      <h2>Archived Courses:</h2>
    </header>
{% for a in unenrollarchivedcourse %}
<li class="course-item">
    <article class="course">
    <a  class="cover">
       <img src="{{a.image}}" alt="{{ a.course }} {{ a.coursename }} Cover Image">         <!-----image ------>
      </a>
    <section class="info">
      <hgroup>
        <p class="date-block">
        Course Started - {{ a.coursestart }}
        </p>
        <h2 class="university">{{ a.org }}</h2>
        <h3>
            <a href="/teacherslist/{{ a.courseid }}/">{{ a.course }} {{ a.coursename }}</a>
        </h3>
      </hgroup>
        
  </section>
</article>
</li>
<script>
           $( document ).ready(function() {
               if("False" == "True"){
                   $( "#unregister_block_course" ).click(function() {
                       $('.disable-look-unregister').click();
                   });
               }
           });
 </script>
{% endfor %}
{% endif %}

{% endif %}
{% endblock %}
