{% extends 'base2.html' %}




{% block heading %}<h2>COURSE UNENROLLMENT</h2>
{% endblock %}
{% block header %}
<header>
<h2>Course cancellation</h2>
</header>
{% endblock %}


{% block header_block %}
<ol class="left nav-global authenticated">

		<li class="nav-global-01">
<a href = "{% url 'ccourses' %}">Course Enrollment</a>
</li>
<li class="nav-global-01">
<a href = "{% url 'dash' %}">Team Management</a>
</li>

<li class="nav-global-01">
<a href = "{% url 'allcourses' %}">Find course</a>
</li>

    </ol>
<ol class="right nav-courseware">


    <li class="nav-courseware-01">
   
	<button onclick="location.href='/logout'" >Log out</button>
          </li>
      
    </ol>
{% endblock %}



{% block name %}{{viewer.firstname}} {{viewer.lastname}}
{% endblock %}

{% block email %}{{viewer.email}}
{% endblock %}





{% block body_block %}
<form action="" method='post' align="center">{% csrf_token %}
<ul>
{% if errors %}
<p align="center"><h3 style="color:red;" align="center">{{ errors.0 }}</h3></p>
{% endif %}
<p align="center">Please provide a reason for unenrolling your institute <strong class="indicator">{{ institutename }}</strong> for <strong class="indicator">{{ coursename }}({{ course }})</strong>:</p><br>
<p align="center"><textarea name="reason" rows="100" columns="250"></textarea></p>
</ul>
<p align="center"><input type='submit' name='submit' value='Unenroll'></p>
</form>
{% endblock %}
