{% extends 'base2.html' %}

{% block heading %}<h2>COURSE UNENROLLED</h2>
{% endblock %}
{% block header %}
<header>
<h2>Course cancelled</h2>
</header>
{% endblock %}


{% block hyperlink %}
		{% if hoi or pc %}
		<li class="nav-global-01">
<a href = "{% url 'ccourses' viewer.id %}">Course Enrollment</a>
<li>
<li class="nav-global-01">
<a href = "{% url 'team' viewer.id %}">Team Management</a>
</li>
<li class="nav-global-01">
<a href = "{% url 'ccourses' viewer.id %}">Update course data</a>
<li>
		{% endif %}
		{% if cc or ta %}
		<li class="nav-global-01">
<a href = "{% url 'ccourses' viewer.id %}">Update course data</a>
<li>		
		{% endif %}
{% endblock %}


{% block name %}{{viewer.firstname}} {{viewer.lastname}}
{% endblock %}

{% block email %}{{viewer.email}}
{% endblock %}



{% block body_block %}
<p align="center">You have successfully unenrolled.</p>
{% endblock %}
