{% extends 'base2.html' %}
{% load staticfiles %}

{% block header_block %}
<ol class="left nav-global authenticated">
<li class="nav-global-01">
<a href = "{% url 'ccourses' %}">Course Enrollment</a>
</li>
<li class="nav-global-01">
<a href = "{% url 'dash' %}">Team Management</a>
</li>
<li class="nav-global-01">
<a href = "{% url 'allcourses' %}">Find course</a>
</li>
</ol>
<ol class="right nav-courseware">
<li class="nav-courseware-01">   
<button onclick="location.href='/logout'" >Log out</button>
</li>      
</ol>
{% endblock %}
{% block body_block %}

<p align="center"><h3>You have successfully updated the details for <strong class="indicator">{{coursename}} ({{ccourse}})</strong>.</h3></p>
<br><br>
<p align="center"><h3>The updated details are as follows:</h3></p><br><br><br>

<table align="center" border="1" cellpadding="25" cellspacing="25" frame="below" bordercolor="red" style="border: 1px dotted red;">
<tr>
<td>Course</td>
<td>{{ccourse}}</td>
</tr>
<tr>
<td>Course name</td>
<td>{{coursename}}</td>
</tr>
<tr>
<td>Corresponding course name in your institute</td>
<td>{{course.corresponding_course_name}}</td>
</tr>
<tr>
<td>Start date of corresponding course in your institute</td>
<td>{{course.start_date}}</td>
</tr>
<tr>
<td>End date of corresponding course in your institute</td>
<td>{{course.end_date}}</td>
</tr>
<tr>
<td>Program to which this course is to be taught</td>
<td>{{course.program}}</td>
</tr>
<tr>
<td>Academic year of students to which this course is to be taught</td>
<td>{{course.year}}</td>
</tr>
<tr>
<td>Total number of students to attend the course on IITBombayX</td>
<td>{{course.total_moocs_students}}</td>
</tr>
<tr>
<td>Total number of students attending the corresponding course in institute</td>
<td>{{course.total_course_students}}</td>
</tr>
</table>
<br><br><br><br>

<!--<section class="course-sidebar">
<section class="course-summary">
<ol class="important-dates">
<li class="important-dates-item">
<p class="important-dates-item-title">
Course
</p>
<span class="important-dates-item-text course-number">
{{ccourse}}
</span>
</li>
<li class="important-dates-item">
<p class="important-dates-item-title">
Course name
</p>
<span class="important-dates-item-text course-number">
{{coursename}}
</span>
</li>
<li class="important-dates-item">
<p class="important-dates-item-title">
Corresponding course name in your institute
</p>
<span class="important-dates-item-text course-number">
{{course.corresponding_course_name}}
</span>
</li>
<li class="important-dates-item">
<p class="important-dates-item-title">
Start date of corresponding course in your institute
</p>
<span class="important-dates-item-text course-number">
{{course.start_date}}
</span>
</li>
<li class="important-dates-item">
<p class="important-dates-item-title">
End date of corresponding course in your institute
</p>
<span class="important-dates-item-text course-number">
{{course.end_date}}
</span>
</li>
<li class="important-dates-item">
<p class="important-dates-item-title">
Program to which this course is to be taught
</p>
<span class="important-dates-item-text course-number">
{{course.program}}
</span>
</li>
<li class="important-dates-item">
<p class="important-dates-item-title">
Academic year of students to which this course is to be taught
</p>
<span class="important-dates-item-text course-number">
{{course.year}}
</span>
</li>
<li class="important-dates-item">
<p class="important-dates-item-title">
Total number of students to attend the course on IITBombayX
</p>
<span class="important-dates-item-text course-number">
{{course.total_moocs_students}}
</span>
</li>
<li class="important-dates-item">
<p class="important-dates-item-title">
Total number of students attending the corresponding course in institute
</p>
<span class="important-dates-item-text course-number">
{{course.total_course_students}}
</span>
</li>
</ol>
</section>
</section>-->
{% endblock %}
