{% extends 'base2.html' %}
{% load sip_filters %}
{% load staticfiles %}
{% block header %}
<header ><h2 align=center>Assignment Status Summary</font></h2></header>
<div class="row">
	<div class ="col-md-8">
	<h4><b>Institute:</b> {{selectedinstitute}}</h4>
    </div>
	<div class ="col-md-8">
	<h4><b>Teacher:</b> {{teacher}}</h4>
	</div>
	
	<div class ="col-md-10">
	<h4><b>Course Id:</b> {{course}} ({{coursename}})</h4>

	</div>
        <div class ="col-md-8">
	<h4><b>Assignment:</b> {{sectionname}} </h4>

	</div>

</div>
<style>
 th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 1050px;
        
        margin-right: 0.5em;
    }
</style>

<br>
 <div class="row" id="per">
 <div class="col-md-4"> <a href="#"  id="clickper" >Percentage View </a> </div>

</div>
<div class="row" id="dvdnormal">
<div   class="col-md-4"><a href="#"  id="click15" >Normal View  </a></div>
</div>

{% endblock %}
{% block body_block %}

{% autoescape off %}

<head>
<script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js'></script>

<script type='text/javascript'>
 

$(document).ready(function () {

function exportTableToCSV($table, filename) {

        var $rows = $table.find('tr:has(td)').filter(':visible'),

            // Temporary delimiter characters unlikely to be typed by keyboard
            // This is to avoid accidentally splitting the actual contents
            tmpColDelim = String.fromCharCode(11), // vertical tab character
            tmpRowDelim = String.fromCharCode(0), // null character

            // actual delimiter characters for CSV format
            colDelim = '","',
            rowDelim = '"\r\n"',

            // Grab text from table into CSV formatted string
            csv = '"' + $rows.map(function (i, row) {
                var $row = $(row),
                    $cols = $row.find('td');

                return $cols.map(function (j, col) {
                    var $col = $(col),
                        text = $col.text();

                    return text.replace(/"/g, '""'); // escape double quotes

                }).get().join(tmpColDelim);

            }).get().join(tmpRowDelim)
                .split(tmpRowDelim).join(rowDelim)
                .split(tmpColDelim).join(colDelim) + '"',

            // Data URI
            csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

        $(this)
            .attr({
            'download': filename,
                'href': csvData,
                'target': '_blank'
        });
    }

// This must be a hyperlink

   $(".export").on('click', function (event) {
        // CSV
        exportTableToCSV.apply(this, [$('#dvData>table'), '{{report_name}}.csv']);
        
        // IF CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
    });
});





 $(document).ready(function(){
  $("#mtable2").hide();

 $("#mtable2 tr:nth-child(1) td:nth-child(1)").hide();
 $("#mtable2 tr:nth-child(1) td:nth-child(2)").hide();
 $("#mtable2 tr:nth-child(1) td:nth-child(3)").hide(); 
 $("#mtable2 tr:nth-child(1) td:nth-child(4)").hide(); 
// $("#mtable2 tr:nth-child(2)").hide();
 $('#csv2').hide();

 $("#mtable1 tr:nth-child(1) td:nth-child(1)").hide();
 $("#mtable1 tr:nth-child(1) td:nth-child(2)").hide();
 $("#mtable1 tr:nth-child(1) td:nth-child(3)").hide(); 
 $("#mtable1 tr:nth-child(1) td:nth-child(4)").hide(); 
 //$("#mtable1 tr:nth-child(2)").hide();
  $('td:nth-child(5)').hide();
 $('td:nth-child(6)').hide();
 $('td:nth-child(7)').hide();
 $('td:nth-child(9)').hide();
 $('td:nth-child(10)').hide();
$('td:nth-child(11)').hide();
$('td:nth-child(12)').hide();
$('td:nth-child(13)').hide();
 $('#dvd1').hide();
 $('#dvdnormal').hide();
 $('#dvData1').hide();
 $('#click1').on('click', function() {   // check for changes
                          $("#mtable1 tr:nth-child(1) td:nth-child(1)").show();
                          $("#mtable1 tr:nth-child(1) td:nth-child(2)").show();
                        
                          $('td:nth-child(4)').hide();
                          $('td:nth-child(5)').show();
                          $('td:nth-child(6)').show();
                          $('td:nth-child(7)').show();
                          $('#dvd1').show();
                         

                        
                  });
  $('#click2').on('click', function() { 
                                   // check for changes
                           $("#mtable1 tr:nth-child(1) td:nth-child(1)").show();
                           
                           $("#mtable1 tr:nth-child(1) td:nth-child(3)").show();      
                           
                                                 
                          $('td:nth-child(8)').hide();
                          $('td:nth-child(9)').show();
                          $('td:nth-child(13)').show();
                          $('#dvd1').show();
                  });


$('#click3').on('click', function() {   // check for changes
                   
                         $("#mtable1 tr:nth-child(1) td:nth-child(1)").hide();
                         $("#mtable1 tr:nth-child(1) td:nth-child(2)").hide();
                         $("#mtable1 tr:nth-child(1) td:nth-child(3)").hide();      
                         $("#mtable1 tr:nth-child(2)").show();   
                         $('td:nth-child(8)').show();
                         $('td:nth-child(9)').hide();
                         $('td:nth-child(10)').hide();
                         $('td:nth-child(4)').show();
                         $('td:nth-child(5)').hide();
                         $('td:nth-child(6)').hide();
                         $('td:nth-child(7)').hide();  
                          $('td:nth-child(11)').hide(); 
                          $('td:nth-child(12)').hide(); 
                          $('td:nth-child(13)').hide();       
                         $('#dvd1').hide();
                        $("#mtable2 tr:nth-child(1) td:nth-child(1)").hide();
                         $("#mtable2 tr:nth-child(1) td:nth-child(2)").hide();
                         $("#mtable2 tr:nth-child(1) td:nth-child(3)").hide();      
                         $("#mtable2 tr:nth-child(2)").show(); 
                  });

$('#click4').on('click', function() {   // check for changes
                          $("#mtable1 tr:nth-child(1) td:nth-child(1)").show();
                          $("#mtable1 tr:nth-child(1) td:nth-child(3)").show();
                         $("#mtable1 tr:nth-child(2)").show();
                         $('td:nth-child(8)').hide(); 
                         $('td:nth-child(9)').show(); 
                         $('td:nth-child(10)').show();
                         $('td:nth-child(11)').show();
                         //$('td:nth-child(12)').show();
                        $('#dvd1').show();
                  });

 $('#click5').on('click', function() {   // check for changes
                          $("#mtable2 tr:nth-child(1) td:nth-child(1)").show();
                          $("#mtable2 tr:nth-child(1) td:nth-child(2)").show();
                        
                          $('td:nth-child(4)').hide();
                          $('td:nth-child(5)').show();
                          $('td:nth-child(6)').show();
                          $('td:nth-child(7)').show();
                          $('#dvd1').show();
                         

                        
                  });
  $('#click6').on('click', function() { 
                                   // check for changes
                           $("#mtable2 tr:nth-child(1) td:nth-child(1)").show();
                           
                           $("#mtable2 tr:nth-child(1) td:nth-child(3)").show();      
                           $("#mtable1 tr:nth-child(2)").show();
                         $('td:nth-child(8)').hide();                       
                          $('td:nth-child(9)').show();
                          $('td:nth-child(10)').show();
                          $('td:nth-child(11)').show();
                          $('#dvd1').show();
                  });


$('#click7').on('click', function() {   // check for changes
                   
                        $("#mtable2 tr:nth-child(2)").show();
                         $('td:nth-child(9)').show(); 
                         $('td:nth-child(10)').show();
                         $('td:nth-child(11)').show();
                         
                        $('#dvd1').show();
                  });

$('#clickper').on('click', function() { 
                          $('#per').hide();
                          $('#mtable1').hide();
                          $('#mtable2').show();       
                          $('#dvdnormal').show();  
                         
                       });

$('#click15').on('click', function() { 
                          $('#dvdnormal').hide();
                          $('#mtable1').show();
                          $('#mtable2').hide();       
                          $('#per').show();  
                          
                       });


})
</script>
</head>
<style>
label {
display: inline-block;
width: 5em;
}

</style>
<br>
<div class="row">
<div class="col-md-8" ><a href="#" class="export"  >Download CSV</a></div>
<div class="row" class="col-md-4"><a href="/assignmentevaluation/{{courseid}}/{{pid}}/0">Select another assignment</a></div>
</div>
<br>
<div class="row" id="dvd1">
<div class="col-md-10"></div>
<div  class= "row" class="col-md-1"><a href="#"  id="click3" >Summary </a></div>
</div>





<div class="table-responsive">
<div id="dvData">
<table cellspacing="5" cellpadding="5" "width:60%" align="center" class="table table-hover">
<tr>
{% for title in heading %}
<th>{{title}}
</th>
{% endfor %}
</tr>
{% for row in reports %}
<tr>
{% for col in row  %}
<td>{{col}}</td>
{% endfor %}
</tr>

{% endfor %}
</table>

<table class="table" width="40%" border =0>
  

<tr>

        <td colspan=3> <a href="#" title="The students who have accessed any graded problems"   ><b> <font  color="black">Active Students for this Course</b> </font> </a> </td>
         
        <td  align="right"> <b> {{totalstudent}}</b></td>
         
          <td  align="center" colspan=3 >&nbsp;</td>  
           <td colspan=200  >&nbsp;</td> 
         
  </tr>
<tr>

        <td colspan=3> <a href="#" title="The students who have viewed or attempted this assignment"   ><b> <font  color="black">Active Students for this Assignment </b> </font> </a> </td>
         
        <td  align="right"> <b> {{atotal}}</b></td>
         
          <td  align="center" colspan=3 >&nbsp;</td>  
           <td colspan=200  >&nbsp;</td> 
         
  </tr>
</table>

<table id="mtable1" class ="table" width="70%" border=0 >
       
     
       <tr id="trid1">

        <td align="center" colspan=3  >&emsp;&emsp;&emsp; </td>
        <td  align="center" colspan=3 > <b>Submission Details</b> </td>
               
        <td align="center" colspan=180  ><b> Viewed  Details </b></td>

           </tr>
        
  
       <!--tr id="trid3">
       <td align="center" colspan=6> </td>
       <td  colspan=2 align="center"> </td>
       <td align="center" colspan=1> </td>
       <td colspan=3>&nbsp; </td>
       </tr-->
  

       

     
      <tr>       
      <td align="center" valign="bottom" > <b> Problem </a></b></td>
      <td align="center" valign="bottom" ><b>Max Points</b> </td>
      <td align="center" valign="bottom" ><b> </b> </a> </td>
      <td align="center" colspan=3 valign="bottom" ><b><a href="#"  id="click1" style="font-weight:bold"> Submitted</b> </a> </td>
      <td align="center" id="td5" valign="bottom" ><b>Correct</b> </td>
      <td align="center" id="td6" valign="bottom" > <b>Incorrect </b></td>
      <td align="center" id="td7" valign="bottom" ><b>Partially<br>Correct </b></td>
      <td align="center" colspan=1 valign="bottom"><b><a href="#"  id="click4" style="font-weight:bold"> Viewed</b> </td>

      <td align="center" id="td8" valign="bottom" ><b>Answered <br>and Saved</b> </td>
      <td align="center" id="td9" valign="bottom" > <b>Not Answered <br>and Saved </b></td>
      <td align="center" id="td10" valign="bottom" ><b>Viewed<br>only </b></td>
      <td align="center" valign="bottom" id="td11"><b></b></td>
            
      </tr>
      
      {% for i in report %}
      <tr>
      
      <td   align="center" >   <a href="/assignmentanswers/{{courseid}}/{{i.13}}/{{pid}}/{{i.3}}/">{{i.0}} </a> 
          </td>
      <td align="center">    {{i.1}}  </div>
           
          </td>
      <td align="center">                          
             </td>   
      <td align="center" colspan=3>{{i.3}}
         </td>    
      <td align="right">{{i.4}}</td>
      <td align="right">{{i.5}}</td>
      <td align="right" >{{i.6}}</td>
      <td align="center">{{i.8}}</td>
      
      <td align="right" >{{i.10}}</td>
     <td align="center">{{i.11}}</td>
      <td align="right">{{i.12}}</td>
      <td align="right"></td>
      
       </div>
      </tr>
      {% endfor %}
      


</table>

<table id="mtable2" class ="table" width="70%" border=0 >
       
       <tr id="trid1">
        <td align="center" colspan=3  > </td>
        <td  align="center" colspan=3 > <b>Submission Details</b> </td>
         
        <td align="center" colspan=180  ><b> Viewed Details </b></td>
         
           </tr>
        
  
       <!--tr id="trid3">
       <td align="center" colspan=6> </td>
       <td  colspan=2 align="center"> <b>Saved <b></td>
       <td align="center" colspan=1><b>Not Saved</b> </td>
       <td colspan=3>&nbsp; </td>
       </tr-->
  

       

     
      <tr>       
      <td align="center" valign="bottom" > <b> Problem </a></b></td>
      <td align="center" valign="bottom" ><b>Max Points</b> </td>
      <td align="center" valign="bottom" ><b></b> </a> </td>
      <td align="center" colspan=3 valign="bottom" ><b><a href="#"  id="click5" style="font-weight:bold"> Submitted</b> </a> </td>
      <td align="center" id="td5" valign="bottom" ><b>Correct</b> </td>
      <td align="center" id="td6" valign="bottom" > <b>Incorrect </b></td>
      <td align="center" id="td7" valign="bottom" ><b>Partially<br>Correct </b></td>
      <td align="center" colspan=1 valign="bottom"><b><a href="#"  id="click6" style="font-weight:bold">Viewed </b> </td>
     
      <td align="center" id="td8" valign="bottom" ><b>Answered <br>and Saved</b> </td>
      <td align="center" id="td9" valign="bottom" > <b>Not Answered <br>and  Saved </b></td>
      <td align="center" id="td10" valign="bottom" ><b>Viewed<br>only </b></td>
      <td align="center" valign="bottom" id="td11"></td>
       
      </tr>
      
      {% for i in report1 %}
      <tr>
      
      <td   align="center" >   <a href="/assignmentanswers/{{courseid}}/{{i.13}}/{{pid}}/{{ i.3|convertpertonum:totalstudent }}/">{{i.0}} </a> 
          </td>
      <td align="center">    {{i.1}}  </div>
           
          </td>
      <td align="center">  </div>
                         
             </td>   
      <td align="center" colspan=3>{{i.3}}
         </td>    
      <td align="right">{{i.5}}</td>
      <td align="right">{{i.6}}</td>
      <td align="right" >{{i.7}}</td>
      <td align="center">{{i.8}}</td>
      
      <td align="right" >{{i.10}}</td>
     <td align="center">{{i.11}}</td>
      <td align="right">{{i.12}}</td>

      <td align="right"></td>
       </div>
      </tr>
      {% endfor %}
      


</table>

</div>

</div>


{% endautoescape %}

{% endblock %}
