{% extends 'base2.html' %}
{% load staticfiles %}
{% block header %}
<header ><h2 align=center>Students' Profile </font></h2></header>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
<style>
 th, td { white-space: nowrap; overflow:hidden;max-width: 250px;
         text-overflow: ellipsis;}
    div.dataTables_wrapper {
        width: 1050px;
        
        margin-right: 0.5em;
    }
</style>
<script>$(function () {
    $("[data-toggle='tooltip']").tooltip();
});
</script>


<!---download scirpt-->
<script>

$(document).ready(function () {

    function exportTableToCSV($table, filename) {

        var $rows = $table.find('tr:has(td)').filter(':visible'),

            // Temporary delimiter characters unlikely to be typed by keyboard
            // This is to avoid accidentally splitting the actual contents
            tmpColDelim = String.fromCharCode(11), // vertical tab character
            tmpRowDelim = String.fromCharCode(0), // null character

            // actual delimiter characters for CSV format
            colDelim = '","',
            rowDelim = '"\r\n"',

            // Grab text from table into CSV formatted string
            csv = '"' + $rows.map(function (i, row) {
                var $row = $(row),
                    $cols = $row.find('td');

                return $cols.map(function (j, col) {
                    var $col = $(col),
                        text = $col.text();

                    return text.replace(/"/g, '""'); // escape double quotes

                }).get().join(tmpColDelim);

            }).get().join(tmpRowDelim)
                .split(tmpRowDelim).join(rowDelim)
                .split(tmpColDelim).join(colDelim) + '"',

            // Data URI
            csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

        $(this)
            .attr({
            'download': filename,
                'href': csvData,
                'target': '_blank'
        });
    }

    // This must be a hyperlink
    $(".export").on('click', function (event) {
        // CSV
        
        var dateformated = new Date().toString().replace(/ /g,'');
        
        exportTableToCSV.apply(this, [$('#dvData>table'), 'studentprofile_'+dateformated+".csv"]);
        
        // IF CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
    });
});
</script>
<script >
	$(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();
         var totalvisisbleRows = $('#example tbody tr:visible').length;
         $("#recordvisible").text(" Total number of  records : "+ totalvisisbleRows );

        })

    }(jQuery));

});
</script> 
<script >
	$(document).ready(function () {

    (function ($) {

        $('#sortby').on('change', function(){

            
            if (this.value =="All"){
            
            $('.searchable tr').show();
            }
            else{
            var rex = new RegExp($(this).val());
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();}
           var totalvisisbleRows = $('#example tbody tr:visible').length;
           $("#recordvisible").text(" Total number of  records : "+ totalvisisbleRows );  
        })

    }(jQuery));

});
</script>
<!-- download script -->
{% endblock %}
{% block body_block %}
{% autoescape off %}

<br><br>

<div class="row">
	<div class ="col-md-8">
	<h4><b>Course Number:</b> {{coursenumber}}</h4>
    </div>
	<div class ="col-md-8">
	<h4><b>Course ID:</b> {{courseid}}</h4>
	</div>
 {% if profilelist  %}
	<div  class ="col-md-4 " align="right">
	<h4> <a href="#" class="export">Download</a> </h4>
	</div>
 {% endif %}
	<div class ="col-md-8">
	<h4><b>Course Name::</b> {{coursename}}</h4>

	</div>
    <div class ="col-md-8">
	<h4><b>Start Date:</b> {{coursestartdate}}</h4>

	</div>
     <div class ="col-md-8">
	<h4><b>End Date:</b> {{courseenddate}}</h4>
	</div>
     <div class ="col-md-8">
	<h4><b>As On:</b> {{as_on_date}}</h4>
	</div>

</div>
</br>
 {% if profilelist %}
<div class ="row">
<div class ="col-xs-6 col-md-4">
<select id="sortby" name="sortby"  style="width:200px;">
     

<option value="All" >All</option>
<option value="Staff" >Staff</option>
<option value="Student" >Students</option>
	

              </select>
</div>
<div class ="col-xs-6 col-md-4"></div>
<div class ="col-xs-6 col-md-4">
<div class="input-group"> <span class="input-group-addon" >Filter</span>

    <input id="filter" type="text" class="form-control" placeholder="Type here...">
</div></div>
</div>
<br>
<div class="row" align = "center" >
<b id="recordvisible">Total number of  records : {{profilelist|length}}</b>
</div>
<br>
<br>

<div id="dvData"  class="table-responsive">

 <table id="example" class="table table-bordered" cellspacing="0" width="100%" >
    <thead> 
  <!--<form action = "/update" method = "post">{% csrf_token %}-->
 <tr align = "left" >
   <!--<td align="center" ><b>S.No.</b></td>-->
   <td align="center"  ><b>UserId</b></td>
   <td align="center"  ><b>UserName</b></td>
   <td align="center"  ><b>Name</b></td>
   <td align="center"  ><b>Email</b></td>
   <td align="center" ><b>Year of Birth</b></td>
   <td align="center"  ><b>Gender</b></td>
   <td align="center"  ><b>Level of Education</b></td>
   <td align="center"  ><b>State</b></td>
   <td align="center"  ><b>City</b></td>
   <td align="center" ><b>Pincode</b></td>
   <td align="center"  ><b> AadharId</b></td>
   <td align="center"  ><b>Mailing Address</b></td>
   <td align="center"  ><b>Goal</b></td>
</tr>
   </thead>
<tbody  class="searchable">

{% for student_details in profilelist %}
  <tr align = "left" >
     
      
     {% for student_detail in student_details %}
                           
           {% if forloop.counter == 8 or forloop.counter == 9 %}
             <td  data-original-title="{{student_detail}}"  data-container="body"  data-toggle="tooltip" data-placement="top" title="" >{{student_detail}}</td>
          {% elif forloop.counter == 14 %}
             <td  data-original-title="{{student_detail}}"  style="display:None" data-container="body"  data-toggle="tooltip" data-placement="top" title="" >{{student_detail}}</td>
          {% else %} 
               <td >{{student_detail}}</td>
          {% endif %}
      
     {% endfor %}

  </tr>
 {% endfor %}
</tbody>
</table> 
</div>
{% else %} 
<div class="row" align = "center">
<b>No records exist</b>
</div>

{% endif %}

<br>
<br>

{% endautoescape %}

{% endblock %}
