{% extends "base2.html" %}
{% block header %}
<header>

<h2>IITBombayX Manager</h2>

</header>
{% endblock %}
{% block body_block %}
 
<table   cellspacing="0" width="100%"  >  
<tr>
<td><a href="/manager/ataglance/" class="enter-course">IITBombayX at a Glance</a><br><br></td>
</tr>

<tr>
<td><a href="/manager/activityrep/" class="enter-course">IITBombayX Activity</a><br><br></td>
</tr>

<tr>
<td><a href="/iitbx/courseenrollment/">Course Enrollment Summary</a><br><br></td>
</tr>

<tr>
<td><a href="/iitbx/certified_participant/">Certified Learners Summary</a></td>
</tr>

</table>
{% endblock %}
