{% extends 'base2.html' %}
{% load staticfiles %}
{% block header %}
<header ><h2 align=center>Pincode Area Distribution </font></h2></header>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
<style>
 th, td { white-space: nowrap; overflow:hidden;max-width: 250px;
         text-overflow: ellipsis;}
    div.dataTables_wrapper {
        width: 1050px;
        
        margin-right: 0.5em;
    }
</style>
<script>$(function () {
    $("[data-toggle='tooltip']").tooltip();
});
</script>


<!---download scirpt-->
<script>

$(document).ready(function () {

    function exportTableToCSV($table, filename) {

        var $rows = $table.find('tr:has(td)'),

            // Temporary delimiter characters unlikely to be typed by keyboard
            // This is to avoid accidentally splitting the actual contents
            tmpColDelim = String.fromCharCode(11), // vertical tab character
            tmpRowDelim = String.fromCharCode(0), // null character

            // actual delimiter characters for CSV format
            colDelim = '","',
            rowDelim = '"\r\n"',

            // Grab text from table into CSV formatted string
            csv = '"' + $rows.map(function (i, row) {
                var $row = $(row),
                    $cols = $row.find('td');

                return $cols.map(function (j, col) {
                    var $col = $(col),
                        text = $col.text();

                    return text.replace(/"/g, '""'); // escape double quotes

                }).get().join(tmpColDelim);

            }).get().join(tmpRowDelim)
                .split(tmpRowDelim).join(rowDelim)
                .split(tmpColDelim).join(colDelim) + '"',

            // Data URI
            csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

        $(this)
            .attr({
            'download': filename,
                'href': csvData,
                'target': '_blank'
        });
    }

    // This must be a hyperlink
    $(".export").on('click', function (event) {
        // CSV
        
        var dateformated = new Date().toString().replace(/ /g,'');
        
        exportTableToCSV.apply(this, [$('#dvData>table'), 'pincodeclassification_'+dateformated+".csv"]);
        
        // IF CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
    });
});
</script>
<!-- download script -->
{% endblock %}
{% block body_block %}
{% autoescape off %}

<br><br>

</br>
 {% if postallist %}

	<div  class ="row " align="right">
	<h4> <a href="#" class="export">Download</a> </h4>
	</div>

<br>
<div class="row" align = "center">
<b>Total number of  records : {{postallistlen}}</b>
</div>
<br>
<br>

<div id="dvData"  class="table-responsive">

 <table id="example" class="table table-bordered" cellspacing="0" width="100%" >
    <thead> 
  <!--<form action = "/update" method = "post">{% csrf_token %}-->
 <tr align = "left" >
   <td align="center" ><b>S.No.</b></td>
   <td align="center"  ><b>Header Postal Index Number</b></td>
   <td align="center"  ><b>#RuralOffices</b></td>
   <td align="center"  ><b>#Section Offices</b></td>
   <td align="center" ><b>#Head Offices</b></td>
   <td align="center"  ><b>Deduced Distritbution</b></td>
   
</tr>
   </thead>
<tbody>

{% for postaldata in postallist %}
  <tr align = "left">
      <td>{{forloop.counter}}</td>
      
      <td >{{postaldata.pincode}}</td>
      <td >{{postaldata.Rural}}</td>
      <td >{{postaldata.Section}}</td>
      <td >{{postaldata.Head}}</td>
      <td >{{postaldata.Type}}</td>
      
  </tr>
 {% endfor %}
</tbody>
</table> 
</div>
{% else %} 
<div class="row" align = "center">
<b>No records exist</b>
</div>

{% endif %}

<br>
<br>

{% endautoescape %}

{% endblock %}
